<ng-container *ngIf="user | async; else login">
  <p>Welcome! You Just Logged-in without any password :D (it isn't great?!)</p>
  <p>
    <button (click)="logout()" type="button" class="btn btn-primary">Sign Out</button>
  </p>
</ng-container>

<ng-template #login>
  <form>
    <section>
      <h1>Hello!</h1>
      <p>
        Hi there!
      </p>
    </section>
    <section class="form-block">
      Email: <input type="email" [(ngModel)]="email" name="email">
    </section>
    <section class="form-block">
      <button [disabled]="emailSent" (click)="sendEmailLink(email)" type="button" class="btn btn-primary">Join M0X</button>
    </section>
    <hr />
    <section class="form-block" *ngIf='emailSent'>
      <p>Cool! We appreciate your interest in Mox. Karn just send you a email with yout login link. Have I nice day!</p>
    </section>
    <section class="form-block" *ngIf="errorMessage">
      <p>{{errorMessage}}</p>
    </section>
  </form>
</ng-template>
