@import './../../../../styles/theme.colors'

.outer
  align-items: center
  background-color: color(_blue, .5)
  border-radius: 50em
  display: inline-flex
  height: 9px
  justify-content: center
  margin-bottom: -5px
  position: relative
  width: 9px

  .inner
    background-color: color(_blue)
    border-radius: 25em
    height: 7px
    width: 7px
