<app-mox-loading-spinner *ngIf="!_deck"></app-mox-loading-spinner>
<div *ngIf="_deck | async as deck">
  <app-mox-titlebar titleHeight="1.72">
    <ol (swipeleft)="changetab('left')" (swiperight)="changetab('right')">
      <li (click)="tab = 'profileTab'" [ngClass]="{'active': tab == 'profileTab'}">DeckList <app-mox-dot *ngIf="tab == 'profileTab'"></app-mox-dot></li>
      <li (click)="tab = 'socialTab'"  [ngClass]="{'active': tab == 'socialTab'}">Social <app-mox-dot *ngIf="tab == 'socialTab'"></app-mox-dot></li>
      <li (click)="tab = 'statsTab'"   [ngClass]="{'active': tab == 'statsTab'}">Stats <app-mox-dot *ngIf="tab == 'statsTab'"></app-mox-dot></li>
    </ol>
  </app-mox-titlebar>
  <div class="main">
    <div [hidden]="tab != 'statsTab'">
      <app-mox-deck-stats [deckid]="deck.id"></app-mox-deck-stats>
    </div>
    <div [hidden]="tab !='profileTab'">
      <div class="summary">
        <div class="decksize mox-font">
          <i class="fas fa-clone"></i>{{deck.cards.length}}
          /
          <i class="far fa-clone"></i>{{(deck.side) ? deck.side.length : 0}}
        </div>
        <div class="deckname">{{deck.name}}</div>
        <div class="decktype">{{deck.format}}</div>
      </div>
      <ul>
        <li *ngFor="let card of _deckService.deckProcess._cardList">
          <app-mox-row-card [cardAmout]="cardAmount(card.id)" [card]="card" (select)="selectedCard($event)"
            (plus)="cardPlus($event)" (minus)="cardMinus($event)" [selected]="(this._selectedCard && this._selectedCard === card)"
          ></app-mox-row-card>
        </li>
      </ul>
      <hr>
      <ul>
        <li *ngFor="let card of _deckService.deckProcess._sideList">
          <app-mox-row-card [cardAmout]="cardSideAmount(card.id)" [card]="card" (select)="selectedCard($event)"
            (plus)="cardSidePlus($event)" (minus)="cardSideMinus($event)" [selected]="(this._selectedCard && this._selectedCard === card)"
          ></app-mox-row-card>
        </li>
      </ul>
    </div>
    <div [hidden]=" tab !='socialTab'">
      <form class="new-deck-form" *ngIf="tempDeck as deck">
        <div class="deck-cover" *ngIf="deck.cover != ''" [ngStyle]="{ 'background-image': 'url(' + deck.cover + ')' }">
          <section class="deck-data">
            <div class="deck-colors">
              <p>A</p>
            </div>
            <div class="deck-owner">
              <label>by {{deck.ownerName}}</label>
            </div>
            <div class="deck-name-container">
              <i class="fas fa-pen"></i>
              <input id="inputTextID" type="text"
              (change)="saveDeck()"
              [(ngModel)]="deck.name" value="{{deck.name}}" name="iname">
            </div>
          </section>
        </div>
        <span #invisibleText id="invisibleTextID" [hidden]="true">{{ deck.name }}</span>
        <div class="deck-cover" *ngIf="deck.cover == ''">
          <i class="fas fa-frog"></i>
        </div>
        <section class="deck-extra-data">
          <div class="item" [ngClass]="{'positive': deck.public }" (click)="deck.public = !deck.public;saveDeck()">
            <i class="fas fa-lock" *ngIf="!deck.public"></i>
            <i class="fas fa-unlock-alt" *ngIf="deck.public"></i>
          </div>

          <div class="item" [ngClass]="{'positive': deck.legal}">
            <i class="fas fa-times-circle" *ngIf="!deck.legal"></i>
            <i class="far fa-check-circle" *ngIf="deck.legal"></i>
          </div>

          <div class="item" [ngClass]="{'positive': deck.format }">
            <div class="select">
              <select id="iformat" [(ngModel)]="deck.format" (change)="saveDeck()" [ngModelOptions]="{standalone: true}" required>
                <option *ngFor="let f of formats" [value]="f">{{f}}</option>
              </select>
            </div>
          </div>
        </section>
      </form>
    </div>
  </div>
</div>
<app-mox-action-bar (swipeleft)="changetab('left')" (swiperight)="changetab('right')">
  <button class="btn btn-action" disabled>
    <i class="fas fa-filter"></i>
  </button>
  <button class="btn btn-action" (click)="cardSort(!_orderAsc)">
    <i class="fas fa-sort" style="font-size: 1.4em"></i>
  </button>
  <div class="fixer"></div>
  <button class="btn btn-action" disabled>
    <i class="fas fa-comments" style="font-size: 1.2em" ></i>
  </button>
  <app-mox-card-context [card]="_selectedCard"  [icon]="'fas fa-ellipsis-h'" *ngIf="_selectedCard" ></app-mox-card-context>
  <app-mox-deck-context [deck]="tempDeck"       [icon]="'fas fa-ellipsis-v'" *ngIf="!_selectedCard"></app-mox-deck-context>
</app-mox-action-bar>

