@import './../../../styles/theme.colors'

$shad: rgba(102, 122, 149, .17);

hr
  border: solid 1px color(_darkblue)
  margin: 5% 10%
  width: 80%

.deck-cover
  background-size: cover
  border-radius: 0
  height: 16em
  width: 100%

.summary
  background-color: color(_gray)
  color: color(_ice)
  display: flex
  font-size: .81em
  height: 1.65em
  justify-content: space-between
  padding: 0 2%
  position: fixed
  width: 100%

  .decksize
    background: color(_lightblue)
    border: 1px solid $shad
    border-radius: 0 3em 3em 0
    margin-left: -3%
    padding: 0 1.5%

  .deckname
    background: color(_lightblue)
    border: 1px solid $shad
    border-radius: 0 0 1em 1em
    font-size: 1em
    margin-top: -1%
    max-height: 17px
    padding: 0 2%

  .deckside
    background: color(_lightblue)
    border: 1px solid $shad
    border-radius: 3em 0 0 3em
    margin-right: -3%
    padding: 0 1.5%

  i
    margin: 0 2px

.new-deck-form
  .deck-data
    align-content: space-between
    color: color(_darkblue)
    display: inline-flex
    flex-wrap: wrap
    height: 50%
    justify-content: space-between
    left: 0
    position: absolute
    width: 100%

    .deck-name-container
      align-items: center
      padding: 0 2%
      text-align: left
      width: 100%

      i
        text-shadow: 0 0 1px color(_white)

      input
        background-color: transparent
        border: 0
        color: color(_darkblue)
        font-size: 1.5em
        font-weight: 600
        text-shadow: 0 0 1px color(_white)

    .deck-colors
      background-color: color(_white)

    .deck-owner
      label
        font-size: 18px
        font-weight: 600
        text-align: right
        text-shadow: 0 0 1px color(_white)

  .deck-extra-data
    color: color(_ice)
    display: inline-flex
    width: 100%

    .item
      align-items: center
      background-color: color(_blue)
      display: inline-flex
      font-size: .6em
      height: 3%
      justify-content: center
      text-align: center
      width: 34%

    .positive
      background-color: color(_darkblue)



ul
  margin-top: 0%
  overflow-x: hidden
  overflow-y: hidden
  padding-top: 4%

$wtf: #e2e2e2;
ol
  display: inline-flex
  justify-content: space-between
  list-style: none
  padding: 0
  width: 100%

  li
    color: $wtf
    cursor: pointer
    display: inline-flex
    flex-direction: column
    font-size: .81em
    font-weight: 500
    justify-content: center
    text-align: center
    width: 30%

  .active
    color: color(_blue)
    font-size: 1.2em
    font-weight: 600

.fixer
  display: block
  width: 15%
