@import '../../../styles/theme.colors.scss'

.container
  background: color(darkBlue)
  text-align: center
  display: inline-flex
  flex-flow: column
  width: 100%
  position: fixed
  height: 100%
  left: 0
  top: 0
  padding: 1em
  .logo
    width: 100%
    color: color(white)
    h1
      font-size: 8em
  .buttons
    .btn
      color: color(white) !important
      border: 0
      width: 100%
      height: 3em
    .google
      background-color: color(gplus)
    .twitter
      background-color: color(twitter)
    .github
      background-color: color(github)
