@import '../../../styles/theme.colors'

.container
  background: color(_darkBlue)
  display: inline-flex
  flex-flow: column
  height: 100%
  left: 0
  padding: 1em
  position: fixed
  text-align: center
  top: 0
  width: 100%

  .logo
    color: color(_white)
    width: 100%

    h1
      font-size: 8em

  .buttons
    .btn
      border: 0
      color: color(_white)
      height: 3em
      width: 100%

    .google
      background-color: color(gplus)

    .twitter
      background-color: color(twitter)

    .github
      background-color: color(github)
