<div class="container">
  <div class="logo">
    <!-- <h1 class="mox-font">0</h1> -->
    <img alt="Mox Logo" src="./../../../assets/mox-logo.webp" />
    <p>Wellcome to M0X</p>
    <p>To begin you have to login with one of the methods bellow</p>
  </div>
  <div class="buttons">
    <button (click)="_auth.googleLogin()" type="button" class="btn btn-primary google">
      <i class="fab fa-google-plus-g"></i> Google Connect
    </button>
    <button (click)="_auth.twitterLogin()" type="button" class="btn btn-primary twitter">
      <i class="fab fa-twitter"></i> Twitter Login
    </button>
    <button (click)="_auth.gitHubLogin()" type="button" class="btn btn-primary github">
      <i class="fab fa-github"></i> GitHub Login
    </button>
  </div>
  <div class="disclaimer">
    <p class="mox-disc">
      <small>Mox is a open not official community of Magic the Gathering™</small>
    </p>
    <p class="mtg-disc">
      <small>Magic: The Gathering, including card images, the mana symbols, and Oracle text, is copyright Wizards of the Coast, LLC, a subsidiary of Hasbro, Inc. This website is not produced by, endorsed by, supported by, or affiliated with Wizards of the Coast.</small>
    </p>
    <p class="mtg-logo">
      <i class="ss ss-pmtg1"></i>
    </p>
  </div>
</div>
