@import '../../../../styles/theme.colors.scss'

.cardRow
  display: inline-flex
  flex-direction: row
  width: 98%
  height: 64px
  border-radius: 4px
  margin: 2% 0% 0% 0%
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.07)
  background: white
  padding: 2px
  .cardRarity
    width: 12px
    border-radius: 4px
    margin-right: -6px
  .common
    background: linear-gradient(0.08deg, #302B2C 0.2%, #474040 48.67%, #302B2C 99.8%)
  .uncommon
    background: linear-gradient(0.08deg, #5A6572 0.2%, #9E9E9E 48.67%, #5A6572 99.8%)
  .rare
    background: linear-gradient(0.08deg, #876A3B 0.2%, #DFBD6B 48.67%, #876A3B 99.8%)
  .mythic
    background: linear-gradient(0.08deg, #B21F0F 0.2%, #F38300 48.67%, #B21F0F 99.8%)
  .cardCounter
    border-radius: 4px
    margin-right: -4px
    background-color: black
    color: white
    height: 100%
    width: 25px
    text-align: center
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25)
    display: flex
    align-items: center
    font-size: 1.1em
    label
      margin: auto
  .cardImg
    width: 68px
    background-size: cover
    border-radius: 4px
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), inset 3px 3px 14px rgba(0, 0, 0, 0.15)
  .dataContainer
    width: 58%
    text-align: initial
    display: inline-flex
    flex-direction: column
    .cardData
      font-size: 0.6em
      color: #B3B2B2
      padding: 0 1%
      text-align: start
      display: inline-flex
      h4
        color: #132030
        margin: 0px
        height: 72%
        display: flex
        font-size: 150%
        font-weight: 600
        text-align: start
        vertical-align: top
        text-overflow: unset
        word-wrap: break-word
        width: 100%
    .typeline
      font-size: 75%

  .cardActions
    padding: 0
    margin: 0
    width: 15%
    display: flex
    flex-direction: column
    justify-content: space-between
    div
      .btn
        border: 0
        font-size: 1.4em
        margin: 0px
        padding: 0
        color: color(blue)
        height: 40%
    .mana_cost
      color: #667A95
      width: 100%
      height: 30%
      text-align: right
      font-size: 70%

.lightbox
  background-color: color(ice)
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  flex-flow: column
  opacity: .67
  filter: blur(5px)

.cardViewer
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  flex-flow: column
  .fullcard
    width: 20em
    height: 28em
    background-size: cover
    position: fixed
    margin: 0
    padding: 0
    top: 16%
    left: 6%
    border-radius: 15px
    z-index: 12
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.7)

.selectedCard
  border-bottom: 1px solid color(darkblue)
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.27) !important
