<button *ngIf="icon" class="btn btn-action" (click)="activateContext()" [disabled]="disabled">
  <i class="{{icon}} action"></i>
</button>

<div [@card-contextTrigger]="componentState" class="lightbox"
    (click)="closeContext()"
    (swipeleft)="closeContext()"
    (swiperight)="closeContext()"
    (swipedown)="closeContext()"
></div>
<div [@card-contextTrigger]="componentState" *ngIf="card" class="action-menu">
  <div class="card-data">
    <p>{{card.name}}</p>
    <div>
      <img class="img" *ngIf="card.image_uris" [ngStyle]="{ 'background-image': 'url(' + card.image_uris.art_crop + ')' }" />
      <img class="img" *ngIf="!card.image_uris" [ngStyle]="{ 'background-image': 'url(' + card.card_faces[0].image_uris.art_crop + ')' }" />
    </div>
  </div>
  <section class="content">
      <button type="button" class="btn btn-icon" disabled>
          <i class="fas fa-shopping-bag"></i>
          <label>Shop</label>
          <label>U${{card.usd}} | tix{{card.tix}}</label>
      </button>
      <button type="button" class="btn btn-icon" disabled>
          <i *ngIf="!fav" class="far fa-heart"></i>
          <i *ngIf="fav" class="fas fa-heart"></i>
          <label>Add to Favorites</label>
      </button>
    <button (click)="addOneCard()" type="button" class="btn btn-icon" [disabled]="!_Deck">
        <i class="fas fa-plus-circle"></i>
        <label>Add One to Deck</label>
    </button>
    <button (click)="addOneCard(true)" type="button" class="btn btn-icon" [disabled]="!_Deck">
        <i class="fas fa-plus-circle"></i>
        <label>Add One to Side</label>
    </button>
    <button type="button" class="btn btn-icon" disabled>
        <i class="fas fa-box-open"></i>
        <label>Add to One Collection</label>
    </button>
    <button (click)="setCover()" type="button" class="btn btn-icon" [disabled]="!_Deck" >
        <i class="fas fa-tags"></i>
        <label>Make Deck Cover</label>
    </button>
    <button type="button" class="btn btn-icon" disabled>
        <i class="fas fa-retweet"></i>
        <label>Share</label>
    </button>
    <button (click)="viewCard()" type="button" class="btn btn-icon">
        <i class="fas fa-search-plus"></i>
        <label>View Card</label>
    </button>
  </section>
  <div class="closer">
    <i class="fas fa-times" (tap)="menuOpen('rubberBand');animateNav()"></i>
  </div>
</div>
