@import '../../../../styles/theme.colors'

$shad: rgba(0, 0, 0, .25);

.action-bar
  background: color(_white)
  bottom: 0
  box-shadow: 4px 0 4px $shad
  display: inline-flex
  height: 3em
  justify-content: space-evenly
  left: 0
  position: absolute
  text-align: center
  width: 100%
  z-index: 10
