@import '../../../../styles/theme.colors.scss'

.action-bar
  background: color(white)
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25)
  position: absolute
  width: 100%
  height: 3em
  left: 0
  bottom: 0
  text-align: center
  display: inline-flex
  justify-content: space-evenly
  z-index: 10

