<i class="fas fa-bell"
        [@notificationAnimator]="animationState"
        (@notificationAnimator.done)="resetAnimationState()"
        (press)="dismissAll()"
        (tap)="startAnimation('swing')"></i>
<span class="ribbon" *ngIf="messages && messages.length > 0">{{ribbonCounter()}}</span>
<div class="wrapper" *ngIf="messages && messages.length > 0">
  <aside>
    <div *ngFor="let message of messages" class="alert" [ngClass]="{'alert-info':     message.style=='info',
                    'alert-danger':   message.style=='danger',
                    'alert-warning':   message.style=='warning',
                    'alert-success':  message.style=='success'}">
      <i class="fas " [ngClass]="{'fa-info-circle': message.style=='info',
                    'fa-dizzy': message.style=='danger',
                    'fa-exclamation-triangle': message.style=='warning',
                    'fa-check-circle': message.style=='success'}"></i>
      <div class="alert-text">
        {{message.content}}
      </div>
      <button type="button" class="btn btn-close" (click)="dismiss(message.key)">
        <i class="far fa-times-circle"></i>
      </button>
    </div>
  </aside>
</div>
