@import '../../../../styles/theme.colors.scss'

.ribbon
  background-color: color(notification, error)
  color: color(white)
  padding: 0.2em 0.6em
  border-radius: 2em
  position: absolute
  right: 10%
  top: 10%
  font-size: .6em
  font-weight: 600

.wrapper
  position: fixed
  width: 100%
  top: 7.5%
  left: 0
  height: 2.5em
  text-align: center

.fas
  color: color(white)
  font-size: 2.4em
  padding: .4em

.btn-close
  border: 0
  color: white
  font-size: 1.3em
  padding: 0
  margin: 0 2%

div
  label
    vertical-align: super
    font-size: .8em

.alert
  color: color(white)
  height: 2.5em
  width: 98%
  margin-bottom: 2%
  display: inline-flex
  justify-content: space-between
  text-align: initial
  vertical-align: middle
  align-items: center
  font-size: 0.8em
  i
    font-size: 1.4em
.alert-success
  background-color: color(notification, success)
.alert-warning
  background-color: color(notification, warning)
.alert-danger
  background-color: color(notification, error)
.alert-info
  background-color: color(notification, info)
