<i matRipple
  [matBadgeHidden]="!(messages && messages.length > 0)" 
  matBadgePosition="before below" 
  matBadge="{{ribbonCounter()}}"
  matBadgeOverlap="true"
  class="fas fa-bell"
        [@notificationAnimator]="animationState"
        (@notificationAnimator.done)="resetAnimationState()"
        (press)="dismissAll()"
        (swipeleft)="dismissAll()"
        (swiperight)="dismissAll()"
        (click)="active = !active"
        (tap)="startAnimation('swing');navigator.vibrate([50]);"></i>
<!-- <span class="ribbon mox_font" *ngIf="messages && messages.length > 0">{{ribbonCounter()}}</span> -->
<div class="wrapper" *ngIf="messages && messages.length > 0 && active">
  <aside>
    <div *ngFor="let message of messages" matRipple class="alert animated fadeInDown"
        [ngClass]="{'alert-info':     message.style=='info',
                    'alert-danger':   message.style=='danger',
                    'alert-warning':   message.style=='warning',
                    'alert-success':  message.style=='success'}">
      <i class="fas " [ngClass]="{'fa-info-circle': message.style=='info',
                    'fa-dizzy': message.style=='danger',
                    'fa-exclamation-triangle': message.style=='warning',
                    'fa-check-circle': message.style=='success'}"></i>
      <div class="alert-text">
        {{message.content}}
      </div>
      <button type="button" class="btn btn-close" (click)="dismiss(message.key)">
        <i class="far fa-times-circle"></i>
      </button>
    </div>
  </aside>
</div>
