@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

$nb-themes: nb-register-theme((
  _white:     #fff,
  _ice:       #f9ffff,
  _gray:      #f2f2f2,
  _grayer:    #e5e5e5,
  _slate:     #b3b2b2,
  _disabled:  #535c68,
  _black:     #1b1c1d,
  _lightblue: #afc0dc,
  _blue:      #667a95,
  _jeans:     #435269,
  _darkblue:  #132030,
  gplus:      #dd4b39,
  twitter:    #1da1f2,
  facebook:   #3b5998,
  instagram:  #c13584,
  github:     #2b7489,
  youtube:    #f00,
  mnone:   #beb9b2,
  mblue:   #b5cde3,
  mblack:  #aca29a,
  mgold:   #f2c94c,
  mgreen:  #93b483,
  mred:    #db8664,
  mwhite:  #f0f2c0,

  color-primary-100: #eefafc, // <- new primary color
  color-primary-200: #d6e6f2,
  color-primary-300: #c7dbeb,
  color-primary-400: #afc0dc,
  color-primary-500: #667a95,
  color-primary-600: #435269,
  color-primary-700: #132030,
  color-primary-800: #121a2b,
  color-primary-900: #000000,

  color-basic-100: white,
  color-basic-200: #eefafc,
  color-basic-300: #e8f5fa,
  color-basic-400: #d6e6f2,
  color-basic-500: #c7dbeb,
  color-basic-600: #afc0dc,
  color-basic-700: #667a95,
  color-basic-800: #435269,
  color-basic-900: #132030,
  color-basic-1000: #244555,
  color-basic-1100: #121a2b,

  // background-basic-color-1: color-basic-700,
  // background-basic-color-2: color-basic-800,
  // background-basic-color-3: color-basic-900,
  // background-basic-color-4: color-basic-100,

  border-basic-color-1: color-basic-700,
  border-basic-color-2: color-basic-800,
  border-basic-color-3: color-basic-900,
  border-basic-color-4: color-basic-1000,
  border-basic-color-5: color-basic-1100,
  

  shadow: 0 0.5rem 1rem 0 rgba(25, 30, 51, 0.24),
  text-heading-font-family: 'Exo 2',
  text-subtitle-font-family: 'Exo 2',
  text-paragraph-font-family: 'Exo 2',
  text-caption-font-family: 'Exo 2',
  text-label-font-family: 'Exo 2',
  text-button-font-family: 'Exo 2',
  text-disabled-color: color-basic-600,
), mox, default);
