@import './../../../../styles/theme.sass'

.title
  background-color: color(darkBlue)
  margin: -2.5em -.8em 0
  padding: 0
  width: 106.3%
  height: 8em
  text-align: center
  vertical-align: middle

