@import '../../styles/theme.colors'

.btn-search
  color: color(ice)
  background-color: color(darkblue)
  padding: 0.18em
  font-size: 1.3em
  box-shadow: 0px 4px 0px color(grayer)
  border-radius: 4px
  overflow: inherit

form
  width: 100%
  margin: 0
  padding: 0
  display: flex
  vertical-align: middle
  align-content: center
  align-items: center

input
  color: color(darkblue)
  border: solid 1px color(grayer)
  border-radius: 4px
  padding-left: 2%
  margin: 0 .5em
  height: 2.2em
  width: 100%
input::placeholder
  color: color(grayer)
  font-size: 12px
  font-family: 'Exo 2', sans-serif
  text-transform: capitalize


.fixer
  width: 15%
  display: block

.stats
  width: 100%
  display: inline-flex
  position: absolute
  font-size: .81em
  justify-content: center
  color: color(slate)

.search-result
  display: inline-flex
  height: 76%
  width: 100%
  overflow-y: overlay
  margin: 0%
  margin-top: 14%
  padding: 0
  ol
    list-style: none
    display: inline-flex
    flex-wrap: wrap
    flex-direction: row
    justify-content: center
    li
      width: 98%
      background-color: #FFF
      border-radius: 4px
      height: 64px
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.07)
      margin-bottom: 1%
      margin-top: 1%
      display: inline-flex
      .img-container
        flex-direction: column
        display: flex
        justify-content: center
        border: 0
        width: 22%
        height: 100%
        margin-left: 2.2%
        padding: 0
      img
        margin: 0
        padding: 22px
        border-radius: 4px
        width: 3.63em
        height: 3.13em
        background-size: cover
        background-position: center
        display: flex
        z-index: 5
        position: relative
        border-top-width: 3px
        border-top-style: solid
        border-bottom-width: 5px
        border-bottom-style: solid
      .none
        border-top-color: color(magic, none)
      .blue
        border-top-color: color(magic, blue)
      .black
        border-top-color: color(magic, black)
      .gold
        border-top-color: color(magic, gold) !important
      .green
        border-top-color: color(magic, green)
      .red
        border-top-color: color(magic, red)
      .white
        border-top-color: color(magic, white)
      .common
        border-bottom-color: color(common, solid)
      .uncommon
        border-bottom-color: color(uncommon, solid)
      .rare
        border-bottom-color: color(rare, solid)
      .mythic
        border-bottom-color: color(mythic, solid)
      section
        width: 100%
        padding: 0%
        h4
          margin-top: 1%
          color: color(darkBlue)
          font-weight: 700
          font-size: 1em
          text-align: start
          margin-bottom: 0.9%
        p
          margin-top: 0rem
        p.description
          width: 100%
          font-size: 11px
          line-height: 17px
          margin-top: 1%
          text-align: start
          color: #B3B2B2
          font-weight: 600
