<app-mox-titlebar titleHeight="2.88">
  <form *ngIf="!settings_stats" class="animated flipInX">
    <input class="search-input" type="text" placeholder="Search" [(ngModel)]="param" value="{{param}}"
      name="param" required />
    <button class="btn btn-search" type="submit" matRipple (click)="searchGo(param)" [disabled]="(!param) || (param.length < 3)" >
      <i class="fas fa-search"></i>
    </button>
  </form>
  <div *ngIf="settings_stats && searchResult.data" class="stats animated flipInX" (click)="settings_stats = false">
    <p>[Total Results]: {{searchResult.total_cards}} | [Response Time]: {{resp_time}}ms</p>
  </div>
</app-mox-titlebar>
<div class="favorites" *ngIf="!searchResult.data && favoriteList && favoriteList.length > 0">
  <ul>
    <li *ngFor="let Id of favoriteList">
      <app-mox-favorite-tag *ngIf="Id" class="animated bounceInDown" [favoriteCardId]="Id" (tag)="quickSearch($event)"></app-mox-favorite-tag>
    </li>
  </ul>
</div>
<div class="search-result" *ngIf="searchResult.data && searchResult.data.length > 0">
  <ol>
    <li *ngFor="let item of searchResult.data" class="animated fadeInDown" [ngClass]="{'selected-card': this._selectedCard === item}">
      <div class="card-rarity" [class.common]=" item.rarity == 'common'" [class.uncommon]=" item.rarity == 'uncommon'"
        [class.rare]=" item.rarity == 'rare'" [class.mythic]=" item.rarity == 'mythic'"></div>
      <div class="img-container">
        <div class="zoom animated fadeIn" *ngIf="this._selectedCard === item" (click)="cardView = true"><i class="fas fa-search-plus"></i></div>
        <div class="img" (click)="cardView = true;selectedCard(item)" *ngIf="item.image_uris" [ngStyle]="{ 'background-image': 'url(' + item.image_uris.art_crop + ')' }">
          <label *ngIf="item.usd" class="mox-font">${{item.usd}}</label></div>

        <div class="img" (click)="cardView = true;selectedCard(item)" *ngIf="!item.image_uris && item.card_faces"
          [ngStyle]="{ 'background-image': 'url(' + item.card_faces[0].image_uris.art_crop + ')' }">
          <label *ngIf="item.usd" class="mox-font">${{item.usd}}</label></div>
      </div>
      <section matRipple (click)="selectedCard(item)">
        <h4>
          {{item.name}}
        </h4>
        <p *ngIf="item.oracle_text" class="description">
          {{(item.oracle_text.length>100)? (item.oracle_text | slice:0:100)+'...':(item.oracle_text)}}
        </p>
        <p *ngIf="item.card_faces && item.card_faces[0].oracle_text" class="description">
          {{(item.card_faces[0].oracle_text.length>40)? (item.card_faces[0].oracle_text |
          slice:0:40)+'...':(item.card_faces[0].oracle_text)}}
          //
          {{(item.card_faces[1].oracle_text.length>40)? (item.card_faces[1].oracle_text |
          slice:0:40)+'...':(item.card_faces[1].oracle_text)}}
        </p>
      </section>
      <div class="card-color" [class.none]="!item.colors && (item.card_faces && !item.card_faces[0].colors[0])"
        [class.blue]="item.colors && item.colors[0] == 'U'  || item.card_faces && item.card_faces[0].colors && item.card_faces[0].colors[0] == 'U'"
        [class.black]="item.colors && item.colors[0] == 'B'  || item.card_faces && item.card_faces[0].colors && item.card_faces[0].colors[0] == 'B'"
        [class.gold]="item.colors && item.colors.length > 1 || item.card_faces && item.card_faces[0].colors && item.card_faces[0].length > 1"
        [class.green]="item.colors && item.colors[0] == 'G'  || item.card_faces && item.card_faces[0].colors && item.card_faces[0].colors[0] == 'G'"
        [class.red]="item.colors && item.colors[0] == 'R'  || item.card_faces && item.card_faces[0].colors && item.card_faces[0].colors[0] == 'R'"
        [class.white]="item.colors && item.colors[0] == 'W'  || item.card_faces && item.card_faces[0].colors && item.card_faces[0].colors[0] == 'W'"></div>
    </li>
  </ol>
  <div *ngIf="cardView" class="lightbox" (click)="cardView = false"></div>
  <div *ngIf="cardView" class="card-viewer">
      <div class="fullcard animated flipInY" *ngIf="!side"
      (tap)="side = true"
      (doubletap) ="cardView = false;selectedCard(_selectedCard)"
      (swipedown) ="cardView = false;selectedCard(_selectedCard)"
      (swipeup)   ="cardView = false;selectedCard(_selectedCard)"
      (swiperight)="cardView = false;selectedCard(_selectedCard)"
      (swipeleft) ="cardView = false;selectedCard(_selectedCard)"
      [ngStyle]="{ 'background-image': 'url(' + getCardImgUri() + ')' }" ></div>

    <div class="fullcard animated flipInY" *ngIf="side"
      (tap)="side = false"
      (doubletap) ="cardView = false;selectedCard(_selectedCard)"
      (swipedown) ="cardView = false;selectedCard(_selectedCard)"
      (swipeup)   ="cardView = false;selectedCard(_selectedCard)"
      (swiperight)="cardView = false;selectedCard(_selectedCard)"
      (swipeleft) ="cardView = false;selectedCard(_selectedCard)"
      [ngStyle]="{ 'background-image': 'url(' + getCardBackImgUri() + ')' }"></div>
  </div>
</div>
<div class="search-result animated fadeInDown" *ngIf="isState('error')">
  <p>I'm sorry buddy, I couldn't find anything</p>
</div>
<app-mox-action-bar>
  <button (click)="cardView = true" [disabled]="!_selectedCard" matRipple class="btn btn-action animated flipInX">
    <i  class="fas fa-search-plus"></i>
  </button>
  <button class="btn btn-action animated flipInX" matRipple disabled>
    <i class="fas fa-filter"></i>
  </button>
  <div class="fixer"></div>
  <button class="btn btn-action animated flipInX" matRipple disabled>
    <i class="fas fa-sort" style="font-size: 1.4em"></i>
  </button>
  <app-mox-picker *ngIf="_selectedCard" [pickerType]="'card'" [currentState]="_selectedCard"></app-mox-picker>
  <button class="btn btn-action animated flipInX" matRipple (click)="clear()" *ngIf="!_selectedCard" [disabled]="(!searchResult.data || searchResult.data.length == 0)">
    <i class="fas fa-undo-alt"></i>
  </button>
</app-mox-action-bar>
