<app-mox-titlebar titleHeight="2.88">
  <form>
    <input *ngIf="!settings_stats"  class="search-input" type="text" placeholder="Search" [(ngModel)]="param" value="{{param}}" name="param" required />
    <button *ngIf="!settings_stats"  class="btn btn-search"  type="submit" (click)="searchGo()">
      <i class="fas fa-search"></i>
    </button>
  </form>
  <div *ngIf="settings_stats && searchResult.data" class="stats" (click)="settings_stats = false">
    <p>[Total Results]: {{searchResult.total_cards}} | [Response Time]: {{resp_time}}ms</p>
  </div>
</app-mox-titlebar>
<div class="search-result" *ngIf="searchResult.data && searchResult.data.length > 0">
  <ol>
    <li *ngFor="let item of searchResult.data" [ngClass]="{'selected-card': this.selectedCard === item}">
      <div class="card-rarity"
        [class.common]=" item.rarity == 'common'"
        [class.uncommon]=" item.rarity == 'uncommon'"
        [class.rare]=" item.rarity == 'rare'"
        [class.mythic]=" item.rarity == 'mythic'"
      ></div>
      <div class="img-container">
        <div *ngIf="this.selectedCard === item"   (click)="cardView = true"  class="zoom"><i class="fas fa-search-plus"></i></div>
        <img class="img" *ngIf="item.image_uris"  (click)="cardView = true;selectCard(item)" [ngStyle]="{ 'background-image': 'url(' + item.image_uris.art_crop + ')' }"/>
        <img class="img" *ngIf="!item.image_uris" (click)="cardView = true;selectCard(item)" [ngStyle]="{ 'background-image': 'url(' + item.card_faces[0].image_uris.art_crop + ')' }"/>
      </div>
      <section (click)="selectCard(item)" (swiperight)="addCard(item.id)">
        <h4>
          {{item.name}}
        </h4>
        <p *ngIf="item.oracle_text" class="description">
          {{(item.oracle_text.length>100)? (item.oracle_text | slice:0:100)+'...':(item.oracle_text)}}
        </p>
        <p *ngIf="!item.image_uris" class="description">
          {{(item.card_faces[0].oracle_text.length>100)? (item.card_faces[0].oracle_text | slice:0:100)+'...':(item.card_faces[0].oracle_text)}}
        </p>
      </section>
      <div class="card-color"
        [class.none]  ="!item.colors && (item.card_faces && !item.card_faces[0].colors[0])"
        [class.blue]  ="item.colors && item.colors[0] == 'U'  || item.card_faces && item.card_faces[0].colors[0] == 'U'"
        [class.black] ="item.colors && item.colors[0] == 'B'  || item.card_faces && item.card_faces[0].colors[0] == 'B'"
        [class.gold]  ="item.colors && item.colors.length > 1 || item.card_faces && item.card_faces[0].length > 1"
        [class.green] ="item.colors && item.colors[0] == 'G'  || item.card_faces && item.card_faces[0].colors[0] == 'G'"
        [class.red]   ="item.colors && item.colors[0] == 'R'  || item.card_faces && item.card_faces[0].colors[0] == 'R'"
        [class.white] ="item.colors && item.colors[0] == 'W'  || item.card_faces && item.card_faces[0].colors[0] == 'W'"
      ></div>
    </li>
  </ol>
  <div *ngIf="cardView" class="lightbox" (click)="cardView = false"></div>
  <div *ngIf="cardView" class="card-viewer">
    <div class="fullcard" *ngIf="this.selectedCard.image_uris"  (doubletap)="cardView = false" (swipedown)="cardView = false" (swipeup)="cardView = false" (swiperight)="cardView = false" (swipeleft)="cardView = false" [ngStyle]="{ 'background-image': 'url(' + this.selectedCard.image_uris.normal + ')' }" ></div>
    <div class="fullcard" (tap)="side = true"                   (doubletap)="cardView = false" (swipedown)="cardView = false" (swipeup)="cardView = false" (swiperight)="cardView = false" (swipeleft)="cardView = false" *ngIf="!this.selectedCard.image_uris && !side" [ngStyle]="{ 'background-image': 'url(' + this.selectedCard.card_faces[0].image_uris.normal + ')' }" ></div>
    <div class="fullcard" (tap)="side = false"                  (doubletap)="cardView = false" (swipedown)="cardView = false" (swipeup)="cardView = false" (swiperight)="cardView = false" (swipeleft)="cardView = false" *ngIf="!this.selectedCard.image_uris && side" [ngStyle]="{ 'background-image': 'url(' + this.selectedCard.card_faces[1].image_uris.normal + ')' }" ></div>
  </div>
</div>
<div class="search-result" *ngIf="isState('error')">
  <p>I'm sorry buddy, I couldn't find anything</p>
</div>
<app-mox-action-bar>
  <button class="btn btn-action" disabled>
    <i class="fas fa-filter"></i>
  </button>
  <button class="btn btn-action" disabled>
    <i class="fas fa-sort" style="font-size: 1.4em"></i>
  </button>
  <div class="fixer"></div>
  <button class="btn btn-action" disabled>
    <i class="fas fa-envelope" style="font-size: 1.2em" ></i>
  </button>
  <app-mox-card-context [card]="selectedCard" [icon]="'fas fa-ellipsis-h'" [disabled]="!selectedCard" ></app-mox-card-context>
</app-mox-action-bar>
