.img
  border-radius: 15px
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  width: 100%
  height: 95%
  min-height: 28em
  border: 0

.btn
  min-width: 1rem

.actions
  text-align: center
  margin-top: 2%
