.img
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  border: 0
  border-radius: 15px
  height: 95%
  margin: auto
  min-height: 28em
  width: 96%

.btn
  min-width: 1rem

.actions
  margin-top: 2%
  text-align: center
