<app-mox-titlebar>
  <h4 class="mox-font">Card View</h4>
</app-mox-titlebar>
<div class="main">
  <app-mox-loading-spinner *ngIf="!card"></app-mox-loading-spinner>
  <fieldset *ngIf="card">
    <div class="img" *ngIf="card.image_uris" [ngStyle]="{ 'background-image': 'url(' + card.image_uris.normal + ')' }">
      </div>
    <div class="img" (click)="front = !front" *ngIf="!card.image_uris && !front" [ngStyle]="{ 'background-image': 'url(' + card.card_faces[0].image_uris.normal + ')' }">
      </div>
    <div class="img" (click)="front = !front" *ngIf="!card.image_uris && front" [ngStyle]="{ 'background-image': 'url(' + card.card_faces[1].image_uris.normal + ')' }">
      </div>
  </fieldset>
</div>
<app-mox-action-bar>
  <app-mox-karn-info-card [card]="card" *ngIf="card"></app-mox-karn-info-card>
  <app-mox-search></app-mox-search>
  <app-mox-card-context [card]="card" [icon]="'fas fa-stream'" *ngIf="card"></app-mox-card-context>
</app-mox-action-bar>
