<div>
  <fieldset *ngIf="card">
    <div class="img" *ngIf="!card.card_faces" [ngStyle]="{ 'background-image': 'url(' + card.image_uris.normal + ')' }">
      </div>
    <div class="img" (click)="front = !front" *ngIf="card.card_faces && !front" [ngStyle]="{ 'background-image': 'url(' + card.card_faces[0].image_uris.normal + ')' }">
      </div>
    <div class="img" (click)="front = !front" *ngIf="card.card_faces && front" [ngStyle]="{ 'background-image': 'url(' + card.card_faces[1].image_uris.normal + ')' }">
      </div>
    <div class="actions">
        <button type="button" class="btn btn-primary"><i class="fas fa-minus-square"></i></button>
        <button (click)="setCover()" type="button" class="btn btn-primary">Set Deck Cover</button>
        <button type="button" class="btn btn-primary"><i class="fas fa-plus-square"></i></button>
    </div>
  </fieldset>
</div>
