@import './theme.fonts'
@import './theme.colors'
@import './theme.keyframe'
@import './theme.grid'
@import './keyrune'


*
  border: 0
  box-sizing: border-box
  margin: 0
  padding: 0

h1,
h2,
h3,
h4,
h5,
h6
  font-weight: normal

.mox-font
  font-family: 'Audiowide', cursive, 'Exo2'

a
  color: color(_ice)
  text-decoration: none

button
  &:focus
    outline: 0

ol,
ul
  margin: 0
  padding: 0

body
  background-color: color(_gray)
  color: color(_blue)
  font-family: 'Exo 2', sans-serif
  margin: 0
  min-width: 320px
  overflow-y: hidden
  padding: 0

$shad-header: rgba(0, 0, 0, .1);
header
  box-shadow: 0 0 25px $shad-header
  display: flex
  flex-flow: row-reverse
  justify-content: space-between
  max-height: 3em
  max-width: 100%
  min-height: 3em
  min-width: 100%
  position: fixed
  z-index: 9

  h4
    color: color(_darkblue)
    width: 70%

  .fas
    color: color(_darkblue)

$shad-h: rgba(0, 0, 0, .25);
h1
  color: color(_ice)
  font-size: 20px
  font-style: normal
  font-weight: normal
  line-height: normal
  text-align: center
  text-shadow: 0 4px 4px $shad-h

h4
  color: color(_ice)
  font-size: 1.2em

fieldset
  border: 0
  margin: 0
  padding: 5px
  text-align: left

p
  margin: 1% 0

select
  background-color: transparent
  border: 0
  color: color(_white)
  font-size: .91em
  font-variant-caps: small-caps
  padding: 0
  width: 100%

.main
  height: 100%
  margin-top: 2em
  max-height: 80%
  mix-blend-mode: normal
  overflow-y: auto
  position: absolute
  text-align: center
  width: 100%

.loading
  background: color(_darkblue)
  height: 100%
  opacity: 0
  padding-top: 25vh
  position: fixed
  text-align: center
  transition: opacity .8s ease-out
  width: 100%
  z-index: -1

.btn
  background-color: transparent
  border: 1px solid color(_darkblue)
  border-radius: .125rem
  color: color(_darkblue)
  cursor: pointer
  display: inline-block
  font-weight: 500
  letter-spacing: .12em
  margin: .25rem .5rem .25rem 0
  max-width: 1.35em
  min-width: 1.35em
  overflow: hidden
  text-align: center
  text-overflow: clip
  text-transform: uppercase
  vertical-align: middle

  &:disabled
    i
      color: color(_slate) !important

    label
      color: color(_slate) !important

.btn-action
  border: 0
  color: color(_darkblue)
  font-size: 1.5em

$shad-btn-del: #9f2426;
.btn-delete
  background-color: color(youtube)
  border: 0
  border-radius: 5px
  box-shadow: 0 5px $shad-btn-del
  color: color(_white)
  padding: 10px 15px

  &:hover,
  &.hover
    background-color: color(youtube)

  &:active,
  &.active
    background-color: color(youtube)
    box-shadow: 0 2px $shad-btn-del
    transform: translateY(5px)

.btn-save
  background-color: color(_jeans)
  border: 0
  border-radius: 5px
  box-shadow: 0 5px color(_darkblue)
  color: color(_white)
  padding: 10px 15px

  &:hover,
  &.hover
    background-color: color(_jeans)

  &:active,
  &.active
    background-color: color(_jeans)
    box-shadow: 0 2px color(_darkblue)
    transform: translateY(5px)

$solidblack: #000
app-root:empty + .loading
  background-color: $solidblack
  opacity: 1
  z-index: 100

  h1
    color: color(_white)
    margin-bottom: 50px

  label
    color: color(_white)
    width: 100%

.fixer
  display: block
  width: 3.375em
