@import './theme.fonts.scss'
@import './theme.colors.scss'
@import './theme.keyframe.scss'
@import './theme.grid.scss'

*
	box-sizing: border-box

.mox_font
  font-family: 'Audiowide', cursive
a
  color: color(white)
  text-decoration: none

body
  font-family: 'Exo 2', sans-serif
  margin: 0
  padding: 0
  min-width: 320px
  overflow-x: hidden
  color: color(black)
  background-color: color(white)

header
  display: flex
  position: fixed
  align-items: center
  justify-content: space-between
  min-height: 3em
  max-height: 3em
  min-width: 100%
  max-width: 100%
  z-index: 9

h4
  color: color(white)
  font-weight: 600

.main
  text-align: center
  background-color: #F9FFFF
  border-radius: 10px
  width: 93%
  height: 30em
  overflow-y: auto
  mix-blend-mode: normal
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25)
  position: fixed
  z-index: 8
  margin-top: 2em

.loading
  opacity: 0
  position: fixed
  height: 100%
  width: 100%
  background: color(darkBlue)
  padding-top: 25vh
  text-align: center
  z-index: -1
  transition: opacity .8s ease-out

app-root:empty + .loading
  opacity: 1
  z-index: 100
  h1
    font-family: 'Audiowide', cursive
    color: color(white)
    margin-bottom: 50px
  label
    color: color(white)
    width: 100%


.btn
  cursor: pointer
  display: inline-block
  -webkit-appearance: none!important
  border-radius: .125rem
  border: 1px solid color(darkBlue)
  text-overflow: ellipsis
  overflow: hidden
  text-align: center
  text-transform: uppercase
  vertical-align: middle
  letter-spacing: .12em
  font-weight: 500
  background-color: transparent
  margin: .25rem .5rem .25rem 0
