$colors: (
  white: (
    base:     #F9FFFF,
    shade:    #F5F5F5,
    dark:     #F0F0F0
  ),
  black:      #1b1c1d,
  conLight:   #AFC0DC,
  conBlue:    #667A95,
  jeans:      #435269,
  darkBlue:   #132030,
  gplus:      #DD4B39,
  twitter:    #1DA1F2,
  facebook:   #3B5998,
  instagram:  #C13584,
  github:     #2b7489,
  youtube:    #FF0000,
  notification: (
    base:     #5E6066,
    success:  #66CD6F,
    warning:  #FF9900,
    error:    #FF454A
  )
);
// TODO Fix Themes
$colorsDark: (
  primary: (
    light:    #0E81ED,
    base:     #164384,
    shade:    #103263,
    dark:     #0B2242
  ),
  secondary: (
    light:    #D6415B,
    base:     #CC092F,
    shade:    #990E26,
    dark:     #660919
  ),
  white: (
    base:     #14171A,
    shade:    #1b1c1d,
    dark:     #0F0F0F
  ),
  gray: (
    base:     #14171A,
    shade:    #C9C5C5,
    dark:     #FFFFFF,
  ),
  black:      #FFFFFF,
  gplus:      #DD4B39,
  twitter:    #1DA1F2,
  facebook:   #3B5998,
);

$errorColor: #BBFF00;

@function color($name, $variant: 1, $alpha: 1) {
  $finalColor: $errorColor;

  @if map-has-key($colors, $name) {
    $finalColor: map-get($colors, $name);

    @if type-of($variant) != number {
      @if map-has-key($finalColor, $variant) {
        $finalColor: map-get($finalColor, $variant);
      }
      @else {
        $finalColor: $errorColor;
      }
    }
    @else {
      @if type-of($finalColor) != color {
        $finalColor: map-get($finalColor, base);
      }
    }
    @if type-of($variant) == number {
      $finalColor: rgba($finalColor, $variant)
    }
    @else {
      $finalColor: rgba($finalColor, $alpha)
    }
  }
  @if type-of($finalColor) != color {
    $finalColor: $errorColor;
  }

  @return $finalColor;
}
