$error-color: #bf0;
$bg-aux1: #525462;
$bg-aux2: #353743;

$shad-card-row: rgba(0, 0, 0, .07);
$shad-dark: rgba(0, 0, 0, .5);
$shad-low: rgba(0, 0, 0, .25);
$shad-in: rgba(0, 0, 0, .15);

$c1: #302b2c;
$c2: #474040;
$common-solid: #1a1718;
$common-vert:  linear-gradient(.08deg,    $c1 .2%,  $c2 48.67%, $c1 99.8%);
$common-hori:  linear-gradient(271.13deg, $c1 .32%, $c2 49.73%, $c1 99.68%);

$u1: #5a6572;
$u2: #9e9e9e;
$uncommon-solid: #707883;
$uncommon-vert:  linear-gradient(.08deg,   $u1 .2%,  $u2 48.67%, $u1 99.8%);
$uncommon-hori:  linear-gradient(267.9deg, $u1 .64%, $u2 51.82%, $u1 99.36%);

$r1: #876a3b;
$r2: #dfbd6b;
$rare-solid: #a58e4a;
$rare-vert:  linear-gradient(.08deg,    $r1 .2%,  $r2 48.67%, $r1 99.8%);
$rare-hori:  linear-gradient(272.97deg, $r1 .78%, $r2 46.47%, $r1 99.22%);

$m1: #b21f0f;
$m2: #f38300;
$mythic-solid: #bf4427;
$mythic-vert:  linear-gradient(.08deg, $m1 .2%, $m2 48.67%, $m1 99.8%);
$mythic-hori:  linear-gradient(270deg, $m1  0%, $m2 47.51%, $m1 100%);

$bg-sidenav: linear-gradient(180deg, $bg-aux1 0%, $bg-aux2 10%);
$bg-uclass-normal: linear-gradient(271.13deg, $c1 .32%, $c2 49.73%, $c1 99.68%);

$mox-theme: (
  primary:   #132030,
  secondary: #435269,
  steel:     #667a95,
  ascent:    #afc0dc,
  light:     #f9ffff,
);

$moth-theme: (
  primary:   #883818,
  secondary: #595554,
  steel:     #99999a,
  ascent:    #77594d,
  light:     #f16b28,
);

$delta-colors: (
  _white:     #fff,
  _ice:       #f9ffff,
  _gray:      #f2f2f2,
  _grayer:    #e5e5e5,
  _slate:     #b3b2b2,
  _black:     #1b1c1d,
  _lightblue: #afc0dc,
  _blue:      #667a95,
  _jeans:     #435269,
  _darkblue:  #132030,
  gplus:      #dd4b39,
  twitter:    #1da1f2,
  facebook:   #3b5998,
  instagram:  #c13584,
  github:     #2b7489,
  youtube:    #f00,
  magic: (
    mnone:   #beb9b2,
    mblue:   #b5cde3,
    mblack:  #aca29a,
    mgold:   #f2c94c,
    mgreen:  #93b483,
    mred:    #db8664,
    mwhite:  #f0f2c0,
  ),
  notification: (
    info:     #afc0dc,
    base:     #5e6066,
    success:  #66cd6f,
    warning:  #f90,
    error:    #ff454a
  )
);

$moth-colors: (
  _white:     #fcf8ef,
  _ice:       #ffefe2,
  _gray:      #eae7e2,
  _grayer:    #4f473a,
  _slate:     #a98a7e,
  _black:     #1d1d1f,
  _lightblue: #362c2a,
  _blue:      #2b2620,
  _jeans:     #ea7c47,
  _darkblue:  #ff662c,
  gplus:      #dd4b39,
  twitter:    #1da1f2,
  facebook:   #3b5998,
  instagram:  #c13584,
  github:     #2b7489,
  youtube:    #f00,
  magic: (
    mnone:   #bdbdbd,
    mblue:   #2d9cdb,
    mblack:  #4f4f4f,
    mgold:   #f2c94c,
    mgreen:  #27ae60,
    mred:    #eb5757,
    mwhite:  #f2f2f2,
  ),
  notification: (
    info:     #afc0dc,
    base:     #5e6066,
    success:  #66cd6f,
    warning:  #f90,
    error:    #ff454a
  )
);

@function color($name, $variant: 1, $alpha: 1) {
  $final-color: $error-color;

  @if map-has-key($delta-colors, $name) {
    $final-color: map-get($delta-colors, $name);

    @if type-of($variant) != number {
      @if map-has-key($final-color, $variant) {
        $final-color: map-get($final-color, $variant);
      } @else {
        $final-color: $error-color;
      }
    } @else {
      @if type-of($final-color) != color {
        $final-color: map-get($final-color, base);
      }
    }
    @if type-of($variant) == number {
      $final-color: rgba($final-color, $variant);
    } @else {
      $final-color: rgba($final-color, $alpha);
    }
  }
  @if type-of($final-color) != color {
    $final-color: $error-color;
  }

  @return $final-color;
}

