@import './theme.fonts.scss'
@import './theme.colors.scss'
@import './theme.keyframe.scss'
@import './theme.grid.scss'
@import './keyrune.scss'

*
	box-sizing: border-box
  margin: 0
  padding: 0
  border: 0

.mox_font
  font-family: 'Audiowide', cursive
a
  color: color(ice)
  text-decoration: none
button
  &:focus
    outline: 0
ol,ul
  padding: 0
  margin: 0
body
  font-family: 'Exo 2', sans-serif
  margin: 0
  padding: 0
  min-width: 320px
  overflow-y: hidden
  color: color(black)
  background-color: color(gray)

header
  color: color(darkblue) !important
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1)
  display: flex
  position: fixed
  justify-content: space-between
  flex-flow: row-reverse
  min-height: 3em
  max-height: 3em
  min-width: 100%
  max-width: 100%
  z-index: 9
  h4
    color: color(darkblue) !important
    width: 70%
  .fas
    color: color(darkblue) !important

h1
  font-family: Audiowide
  font-style: normal
  font-weight: normal
  line-height: normal
  font-size: 20px
  text-align: center
  color: #F9FFFF
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
h4
  color: color(ice)
  font-weight: 600
  font-size: 1.2em

fieldset
  border: 0
  margin: 0
  padding: 5px
  text-align: left

p
  margin: 1% 0

input
  &[type="text"]:focus:not(:read-only)
    border: 0
  &[type="text"]:read-only
    background-color: RGBA(175,192,220,0.15)
    color: color(darkblue)
select
  width: 85%
  font-size: 1em
  border: 0
  border-bottom: solid 1px black
  padding: 0.5em 0em
  font-variant-caps: small-caps
.main
  text-align: center
  // background-color: #F9FFFF
  border-radius: 10px
  width: 93%
  height: 76.2%
  overflow-y: auto
  mix-blend-mode: normal
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25)
  position: fixed
  z-index: 8
  margin-top: 2em

.loading
  opacity: 0
  position: fixed
  height: 100%
  width: 100%
  background: color(darkBlue)
  padding-top: 25vh
  text-align: center
  z-index: -1
  transition: opacity .8s ease-out

app-root:empty + .loading
  opacity: 1
  z-index: 100
  h1
    font-family: 'Audiowide', cursive
    color: color(white)
    margin-bottom: 50px
  label
    color: color(white)
    width: 100%


.btn
  color: color(darkblue)
  cursor: pointer
  display: inline-block
  -webkit-appearance: none!important
  border-radius: .125rem
  border: 1px solid color(darkblue)
  text-overflow: ellipsis
  overflow: hidden
  text-align: center
  text-transform: uppercase
  vertical-align: middle
  letter-spacing: .12em
  font-weight: 500
  background-color: transparent
  margin: .25rem .5rem .25rem 0
.btn
  &:disabled
    i
      color: color(slate) !important
    label
      color: color(slate) !important

.btn-action
  color: color(darkblue)
  font-size: 1.5em
  border: 0

.btn-delete
  color: color(white)
  background-color: color(youtube)
  padding: 10px 15px
  border: none
  border-radius: 5px
  box-shadow: 0 5px #9F2426
.btn-delete
  &:hover, &.hover
    background-color: color(youtube)
  &:active, &.active
    background-color: color(youtube)
    box-shadow: 0 2px #9F2426
    transform: translateY(5px)

.btn-save
  color: color(white)
  background-color: color(jeans)
  padding: 10px 15px
  border: none
  border-radius: 5px
  box-shadow: 0 5px color(darkBlue)
.btn-save
  &:hover, &.hover
    background-color: color(jeans)
  &:active, &.active
    background-color: color(jeans)
    box-shadow: 0 2px color(darkBlue)
    transform: translateY(5px)
