$colors: (
  white:      #F9FFFF,
  black:      #000000,
  shadowBlue: #132030,
  jeansBlue:  #435269,
  conBlue:    #667A95,
  conLight:   #AFC0DC,
  gplus:      #DD4B39,
  twitter:    #1DA1F2,
  facebook:   #3B5998,
  instagram:  #C13584,
  github:     #2b7489,
  youtube:    #FF0000,
  notification: (
    base:     #5E6066,
    success:  #66CD6F,
    warning:  #FF9900,
    error:    #FF454A
  )
);
// TODO Fix Themes
$colorsDark: (
  white: (
    base:     #14171A,
    shade:    #1b1c1d,
    dark:     #0F0F0F
  ),
  gray: (
    base:     #14171A,
    shade:    #C9C5C5,
    dark:     #FFFFFF,
  ),
  black:      #F9FFFF,
  gplus:      #DD4B39,
  twitter:    #1DA1F2,
  facebook:   #3B5998,
  instagram:  #C13584,
  github:     #2b7489,
  youtube:    #FF0000,
  notification: (
    base:     #5E6066,
    success:  #66CD6F,
    warning:  #FF9900,
    error:    #FF454A
  )
);

$errorColor: #BBFF00;

@function color($name, $variant: 1, $alpha: 1) {
  $finalColor: $errorColor;

  @if map-has-key($colors, $name) {
    $finalColor: map-get($colors, $name);

    @if type-of($variant) != number {
      @if map-has-key($finalColor, $variant) {
        $finalColor: map-get($finalColor, $variant);
      }
      @else {
        $finalColor: $errorColor;
      }
    }
    @else {
      @if type-of($finalColor) != color {
        $finalColor: map-get($finalColor, base);
      }
    }
    @if type-of($variant) == number {
      $finalColor: rgba($finalColor, $variant)
    }
    @else {
      $finalColor: rgba($finalColor, $alpha)
    }
  }
  @if type-of($finalColor) != color {
    $finalColor: $errorColor;
  }

  @return $finalColor;
}
