
$font-path: '/app/assets/fonts';

@mixin set-font-face($name, $file, $weight: 400, $style: normal) {
  $file-path: '#{$font-path}/#{$name}/#{$file}';

  @font-face {
		font-family: $name;
		font-style: $style;
    font-display: swap;
    font-weight: $weight;
		src: url('#{$file-path}.eot?') format('eot');
		src: url('#{$file-path}.eot#iefix') format('eot'),
			url('#{$file-path}.svg##{$file}') format('svg');
	}
};

@include set-font-face('Cursive', 'Audiowide', 300);
// @include setFontface('Open Sans', 'OpenSans-Light', 300);
// @include setFontface('Open Sans', 'OpenSans-LightItalic', 300, italic);
// @include setFontface('Open Sans', 'OpenSans');
// @include setFontface('Open Sans', 'OpenSans-Italic', 400, italic);
// @include setFontface('Open Sans', 'OpenSans-SemiBold', 600);
// @include setFontface('Open Sans', 'OpenSans-SemiBoldItalic', 600, italic);
// @include setFontface('Open Sans', 'OpenSans-Bold', 700);
// @include setFontface('Open Sans', 'OpenSans-BoldItalic', 700, italic);
// @include setFontface('Open Sans', 'OpenSans-ExtraBold', 800);
// @include setFontface('Open Sans', 'OpenSans-ExtraBoldItalic', 800, italic);

// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
// @import url('https://fonts.googleapis.com/css?family=Audiowide|Exo+2:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Exo+2|Orbitron');
