<button (click)="activateContext()" type="button" class="btn btn-action">
  <i class="fas fa-cloud-upload-alt"></i>
</button>

<div [@importdeck-contextTrigger]="importState" class="lightbox"></div>
<div [@importdeck-contextTrigger]="importState" class="action-menu">
  <section class="form-block">
    <button (click)="closeContext()" type="button" class="btn btn-icon btn-close" [disabled]="showLoader" >
      <i class="fas fa-arrow-left"></i>
    </button>
    <label class="mox-font" >Deck Import</label>
    <hr>
    <div>
      <app-mox-loading-spinner *ngIf="showLoader"></app-mox-loading-spinner>

      <div *ngIf="showLoader && _deckService.deckProcess._deck">
        <p>Importing: {{_deckService.deckProcess._deck.name}}</p>
        <p>by {{_deckService.deckProcess._deck.ownerName}}</p>
        <p>Cards: {{_deckService.deckProcess._deck.cards.length}}</p>
        <p>Status: {{_deckService.deckProcess.status}}</p>
      </div>

      <ul *ngIf="!showLoader">
        <li class="item">
          <div>
            <i class="fas fa-cloud-upload-alt"></i>
            <p>
              Hello! This is Karn import interface. Here you can Import decks from many formats!
            </p>
          </div>
        </li>
        <li class="item">
          <label>Text area:</label>
          <textarea [(ngModel)]="importText" value="{{importText}}"></textarea>
          <button (press)="importDeckTxt()" class="btn"><i class="ss ss-pleaf"></i> Text Format</button>
          <button (press)="importDeckArena()" class="btn"><i class="ss ss-parl3"></i> MTGArena Format</button>
          <button class="btn" (click)="inputMtgo.click()"><i class="ss ss-dpa"></i> MTGO Format</button>
          <div class="mtgo-input">
            <i class="ss ss-dpa"></i> MTGO Format
            <input type="file" #inputMtgo (change)="onFilePicked($event)" />
          </div>

          <!-- <button (filePick)="onFilePicked($event)" class="btn" accept="*" ngxFilePicker><i class="ss ss-dpa"></i> MTGO Format</button> -->
        </li>
      </ul>
    </div>
  </section>
</div>
