@import '../../../../../styles/theme.colors'

textarea
  border-radius: 2px
  border: solid 1px color(_black)
  margin: 2%
  min-height: 12em
  min-width: 18em

.sk-cube
  background-color: color(_white)

hr
  border: solid 1px color(_jeans)

.btn-close
  border: 0
  font-size: .8em
  height: 2.2em
  left: 0
  position: fixed
  top: 0

  i
    color: color(_darkBlue)

.lightbox
  -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1)
  animation-timing-function: cubic-bezier(.215, .61, .355, 1)
  background: linear-gradient(0deg, #afc0dc 0%, #f9ffff 27%, color(_white) 80%)
  height: 100%
  left: 0
  overflow: hidden
  padding: 1em
  padding-top: 0
  position: fixed
  top: 0
  width: 100%
  z-index: 10

.form-block
  margin: .5rem 0 0 !important

  label
    color: color(_darkBlue)
    font-weight: 600

  .form-group
    align-items: baseline

  i
    font-size: 1.8em
    vertical-align: middle

.action-menu
  color: color(_darkBlue)
  height: 100%
  left: 0%
  max-height: 100%
  max-width: 100%
  overflow-y: scroll
  padding: 0 1em
  position: fixed
  top: 0
  width: 100%
  z-index: 13

  ul
    display: inline-flex
    flex-direction: column
    list-style: none
    width: 88%

    li

      div

        i
          font-size: 4.5em
          margin: 10% 0

      span
        color: color(_darkBlue)

      button
        background-color: color(_jeans)
        border: 0
        border-radius: 5px
        box-shadow: 0 5px color(_darkBlue)
        color: color(_white)
        padding: 10px 15px

        &:hover,
        &.hover
          background-color: color(_jeans)

        &:active,
        &.active
          background-color: color(_jeans)
          box-shadow: 0 2px color(_darkBlue)
          transform: translateY(5px)
