<button (click)="activateContext()" type="button" class="btn btn-action">
  <i class="fas fa-cloud-upload-alt"></i>
</button>

<div [@importdeck-contextTrigger]="importState" class="lightbox"></div>
<div [@importdeck-contextTrigger]="importState" class="action-menu">
  <section class="form-block">
    <button (click)="closeContext()" type="button" class="btn btn-icon btn-close">
      <i class="fas fa-arrow-left"></i>
    </button>
    <label class="mox-font" >Deck Import</label>
    <hr>
    <div>
      <app-mox-loading-spinner *ngIf="showLoader"></app-mox-loading-spinner>
      <progress *ngIf="showLoader && _deckService.deckProcess._deck" value="(_deckService.deckProcess._deck.cards.length + _deckService.deckProcess._deck.side.length)" max="_deckService.deckProcess.totalcards"></progress>
      <ul *ngIf="!showLoader">
        <li class="item">
          <div>
            <i class="fas fa-cloud-upload-alt"></i>
            <p>
              Hello! This is Karn import interface. Here you can Import decks from MTG Arena Text Format!
            </p>
          </div>
        </li>
        <li class="item">
          <label>Import from MTG Arena:</label>
          <textarea [(ngModel)]="importText" value="{{importText}}"></textarea>
          <button (press)="importDeck()" class="btn">Import</button>
        </li>
      </ul>
    </div>
  </section>
</div>
