<div *ngIf="auth.getUser() | async; then authenticated else guest"></div>

<ng-template #guest>
  <h3 class="mox-font">[Hellow, guest]</h3>
  <p>To start something in mox.sys you have to loggin</p>
  <button routerLink="/login">
      <i class="material-icons">person</i> Loggin
  </button>
</ng-template>

<ng-template #authenticated>
  <div *ngIf="auth.user | async as user">
    <app-mox-titlebar>
      <ol (swipeleft)="changetab('left')" (swiperight)="changetab('right')">
        <li (click)="tab = 'statsTab'"   [ngClass]="{'active': tab == 'statsTab'}">Stats</li>
        <li (click)="tab = 'profileTab'" [ngClass]="{'active': tab == 'profileTab'}">Profile</li>
        <li (click)="tab = 'socialTab'"  [ngClass]="{'active': tab == 'socialTab'}">Social</li>
      </ol>
    </app-mox-titlebar>
    <div class="main" (swipeleft)="changetab('left')" (swiperight)="changetab('right')">
      <div [hidden]="tab != 'statsTab'">
        <app-mox-comming-warning></app-mox-comming-warning>
      </div>
      <div [hidden]="tab !='profileTab'">
        <div class="avatar" [ngStyle]="{ 'background-image': 'url(' + user.photoURL + ')' }"></div>
        <h3>Oh boy! If it isn't {{user.displayName}}</h3>
        <p><i class="fas fa-envelope"></i>{{user.email}}</p>
        <p><i class="fas fa-at"></i>{{user.twitterUser}}</p>
        <p>UID: {{user.uid}}</p>
      </div>
      <div [hidden]=" tab !='socialTab'">
        <app-mox-comming-warning></app-mox-comming-warning>
      </div>
    </div>
  </div>
  <app-mox-action-bar (swipeleft)="changetab('left')" (swiperight)="changetab('right')">
    <button class="btn btn-action" disabled>
      <i class="fas fa-book"></i>
    </button>
    <button class="btn btn-action" disabled>
      <i class="fas fa-sort"></i>
    </button>
    <div class="fixer"></div>
    <button class="btn btn-action" disabled>
      <i class="fas fa-envelope"></i>
    </button>
    <button (click)="auth.signOut()" type="button" class="btn btn-action">
      <i class="fas fa-sign-in-alt"></i>
    </button>
  </app-mox-action-bar>
</ng-template>
