@import './../../../styles/theme.colors.scss'

.active::after
  content: ']'
.active::before
  content: '['

.avatar
  width: 7em
  height: 7em
  background-size: cover
  border-radius: 15em
  display: inline-block
  margin-top: 1em
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.23)
ol
  padding: 0
  list-style: none
  display: inline-flex
  width: 100%
  justify-content: space-evenly
  li
    cursor: pointer
    color: color(white)
    display: block
    font-size: 1.5em
    margin-top: 1em
    width: 30%
