<div>
  <section>
    <h1>Hello</h1>
    <p>'You're so nice', he said to them a while ago
      Back in the time when they were good to go
      'Weird nights' rephrasing what he said before
      Twisting words, summoning everyone
    </p>
    <p>
      "You knew I couldn't hold my words
      Even though I wanted to
      And I knew what I supposed to do
      But chose to blame it all on you"
    </p>
    <p>
      She says, "I gotta tell you my story, man
      The right story, man"
      (Because yours is a lie)
      Wait, shut, I gotta tell you my story, man
      The whole story, man
    </p>
    <p>
      Have you lost your mind?
      We know you were a part of it
      I should have known that you would screw it all again
      I'll tell you what's so funny
      I thought that I could trust in you
      'Cause when you did the same I was taken for a fool
      Well done, you won your bloody prize
      I hope you're happy and satisfied
    </p>
    <p>
      She says, "I gotta tell you my story, man
      The right story, man"
      (Because yours is a lie)
      Wait, shut, I gotta tell you my story, man
      The whole story, man
    </p>
  </section>
</div>


