@import './../styles/theme.sass'

.alert-text
  margin-top: 0rem !important

.fas
  color: color(white)
  font-size: 2.4em
  padding: .4em
.header
  background-color: color(darkBlue)
  .fas
    left: 0
    position: relative
  h4
    margin-top: 0
    align-self: center
    position: fixed
    text-align: center
    left: calc(67% - 10.5em)
  div
    label
      vertical-align: super
      font-size: .8em

.content-area
  padding: 0.8em !important

.sidenav
  background-color: color(white)
  .sidenav-content
    a.user
      position: fixed
      bottom: 2%
      .avatar
        display: block
        background-size: cover
        position: absolute
        border-radius: 50px
        height: 2.5em
        width: 2.5em
        margin-left: -10%
      i
        font-size: 1.1em
      label
        padding: 0 2em
        position: relative
        line-height: 2.3


