<div class="main-container">
  <header class="header">
    <div style="align-self: center;">
      <app-mox-toast-message></app-mox-toast-message>
    </div>
    <h4 class="mox-font">{{title}}</h4>
  </header>
  <div class="content" (actionMenuActivate)="animateNav($event)">
    <div class="content-area animated fadeIn">
      <router-outlet></router-outlet>
      <app-mox-action-button (activateMenuOpen)="menuOpen($event);animateNav();setState('closed')" ></app-mox-action-button>
    </div>
    <nav class="sidenav" [@navTrigger]="navState">
      <!-- <h1 class="mox-font">M0X</h1>
      <div>
        <div class="nav-link user" *ngIf="_auth.getUser() | async as user" (press)="goToUser()">
          <div class="avatar" *ngIf="user.photoURL" [ngStyle]="{ 'background-image': 'url(' + user.photoURL + ')' }"></div>
          <div class="avatar" *ngIf="!user.photoURL"><i class="fas fa-frog"></i></div>
          <div></div>
        </div>
      </div> -->
      <section class="sidenav-content">
        <button (click)="goToUser()"     matRipple type="button" class="btn btn-icon animated bounceInUp" *ngIf="_auth.getUser() | async as user">
          <i class="fas fa-user"></i>
          <label>Profile</label>
        </button>
        <button (click)="goToHome()"     matRipple type="button" class="btn btn-icon animated bounceInUp" style="background-color: #5A6572">
          <i class="fas fa-home"></i>
          <label>Home</label>
        </button>
        <button                          matRipple type="button" class="btn btn-icon animated bounceInUp" disabled style="background-color: #132030">
          <i class="fas fa-envelope"></i>
          <label>Messages</label>
        </button>
        <button                          matRipple type="button" class="btn btn-icon animated bounceInUp" disabled style="background-color: #302B2C">
          <i class="fas fa-archive"></i>
          <label>CollectionHub</label>
        </button>
        <button (click)="goToDeckHub()"  matRipple type="button" class="btn btn-icon animated bounceInUp" style="background-color: #8B97A7">
          <i class="fas fa-book"></i>
          <label>DeckHub</label>
        </button>
        <button                          matRipple type="button" class="btn btn-icon animated bounceInUp" disabled style="background-color: #667A95"> 
          <i class="fas fa-dice"></i>
          <label>Utils</label>
        </button>
        <button                          matRipple type="button" class="btn btn-icon animated bounceInUp" disabled style="background-color: #000000 ">
          <i class="fas fa-flask"></i>
          <label>Lab</label>
        </button>
        <button (click)="goToSeachHub()" matRipple type="button" class="btn btn-icon animated bounceInUp" style="background-color: #353743">
          <i class="fas fa-search"></i>
          <label>Card Search</label>
        </button>
        <button                          matRipple type="button" class="btn btn-icon animated bounceInUp" disabled style="background-color: #8B97A7">
          <i class="fas fa-cog"></i>
          <label>Settings</label>
        </button>
      </section>
      <div class="closer">
        <i class="fas fa-times" (tap)="menuOpen('rubberBand');animateNav();setState('nav')"></i>
      </div>
    </nav>
  </div>
</div>
