<div class="main-container">
  <header class="header">
    <div style="align-self: center;">
      <app-mox-toast-message></app-mox-toast-message>
    </div>
    <h4 class="mox-font">{{title}}</h4>
  </header>
  <div class="content" (actionMenuActivate)="animateNav($event)">
    <div class="content-area">
      <router-outlet></router-outlet>
      <div class="action-button" *ngIf="!isState('hidden')">
        <div *ngIf="auth.getUser() | async as user">
          <i *ngIf="isState('nav') && user.actionIco" [className]="'ss ss-' + user.actionIco" [@actionIcoAnimator]="animationState2"
            (@actionIcoAnimator.done)="resetAnimationState()"
            (tap)="menuOpen('opened');animateNav();setState('closed');navigator.vibrate([50]);"></i>

          <i *ngIf="!user || (isState('nav') && !user.actionIco)" [className]="'ss ss-pmtg1'" [@actionIcoAnimator]="animationState2"
            (@actionIcoAnimator.done)="resetAnimationState()" (tap)="menuOpen('opened');animateNav();setState('closed')"></i>

          <i *ngIf="isState('closed')" (tap)="menuOpen('closed');animateNav();setState('nav')" class="fas fa-times-circle"></i>
          <i *ngIf="isState('loading')" class="fas fa-sync-alt fa-spin"></i>
          <i *ngIf="isState('config')" class="fas fa-cog fa-spin"></i>
          <i *ngIf="isState('view')" (tap)="view();animateNav();navigator.vibrate([50]);" class="fas fa-book-open"></i>
          <i *ngIf="isState('error')" (tap)="setState('nav')" class="fas fa-not-equal"></i>
          <span *ngIf="isState('cloud')" style="display: contents" (tap)="navigator.vibrate([30, 30])">
            <i class="fas fa-cloud fa-stack-1x"></i>
            <i class="fas fa-sync-alt fa-spin fa-stack-2x" style="color:white"></i>
          </span>
        </div>
      </div>
    </div>
    <nav class="sidenav" [@navTrigger]="navState">
      <h1 class="mox-font">M0X</h1>
      <div>
        <div class="nav-link user" *ngIf="auth.getUser() | async as user" (click)="goToUser()">
          <div class="avatar" *ngIf="user.photoURL" [ngStyle]="{ 'background-image': 'url(' + user.photoURL + ')' }"></div>
          <div class="avatar" *ngIf="!user.photoURL"><i class="fas fa-frog"></i></div>
          <div></div>
        </div>
      </div>
      <section class="sidenav-content">
        <button (click)="goToHome()" type="button" class="btn btn-icon">
          <i class="fas fa-home"></i>
          <label>Home</label>
        </button>
        <button type="button" class="btn btn-icon" disabled>
          <i class="fas fa-envelope"></i>
          <label>Messages</label>
        </button>
        <button type="button" class="btn btn-icon" disabled>
          <i class="fas fa-archive"></i>
          <label>CollectionHub</label>
        </button>
        <button (click)="goToDeckHub()" type="button" class="btn btn-icon">
          <i class="fas fa-book"></i>
          <label>DeckHub</label>
        </button>
        <button type="button" class="btn btn-icon" disabled>
          <i class="fas fa-dice"></i>
          <label>Utils</label>
        </button>
        <button type="button" class="btn btn-icon" disabled>
          <i class="fas fa-flask"></i>
          <label>Lab</label>
        </button>
        <button type="button" class="btn btn-icon" disabled>
          <i class="fas fa-cog"></i>
          <label>Settings</label>
        </button>
        <button (click)="goToSeachHub()" type="button" class="btn btn-icon">
          <i class="fas fa-search"></i>
          <label>Card Search</label>
        </button>
      </section>
      <div class="closer">
        <i class="fas fa-times" (tap)="menuOpen('rubberBand');animateNav();setState('nav')"></i>
      </div>
    </nav>
  </div>
</div>
