@import './../styles/theme.colors'

$shad-action-button: rgba(0, 0, 0, .15);
$shad: rgba(0, 0, 0, .25);
$menu-shad: rgb(9, 15, 22);
$white: rgba(255, 255, 255, .8);

.alert-text
  margin-top: 0

.fas,
.ss
  color: color(_white)
  font-size: 2.4em
  padding: .4em

.header
  background-color: color(_white)

  .fas
    left: 0
    position: relative

  h4
    align-self: center
    left: calc(60% - 10.5em)
    margin-top: 0
    max-height: 999999px
    position: fixed
    text-align: left
    text-shadow: 2px 2px 0 color(_grayer)

  div
    label
      font-size: .8em
      vertical-align: super

.user
  align-items: center
  display: flex
  font-size: 15px
  justify-content: center
  padding: .7em
  position: relative
  width: 100%

  .class
    background: $bg-uclass-normal
    border: 1px solid $shad
    border-radius: 75px
    box-sizing: border-box
    height: 105px
    position: absolute
    width: 105px
    z-index: 11

  .avatar
    background-size: cover
    border: 1px solid $shad
    border-radius: 50px
    box-shadow: inset -5px -5px 15px $shad-action-button
    box-sizing: border-box
    display: block
    height: 6.7em
    position: relative
    width: 6.7em
    z-index: 12

  i
    align-self: flex-end
    font-size: 1.4em
    margin-left: -1em
    padding: 0
    z-index: 13

  label
    color: color(_white)
    line-height: 2.3
    margin-left: 3em
    padding: 0
    position: relative
    text-decoration: none

.content
  padding-top: 3em

.content-area
  padding: 0

.sidenav
  background-color: $white
  box-shadow: 15px 15px 30px $shad
  color: color(_ice)
  font-size: 1em
  font-weight: normal
  height: 100vh
  line-height: 40px
  max-width: 100%
  min-width: 100%
  padding: 0
  position: fixed
  text-align: center
  top: 0
  z-index: 10

.sidenav-content
  display: inline-flex
  flex-direction: column
  height: 100vh
  justify-content: initial
  overflow: scroll
  padding-bottom: 3%
  width: 100%

  .btn-icon
    align-items: center
    background-color: currentColor
    border: 0
    border-radius: 0
    box-shadow: $menu-shad 0 1px, $menu-shad 0 -1px
    display: inline-flex
    flex-direction: row
    height: 90px
    justify-content: center
    margin: 0
    min-height: 90px

    &:disabled
      i
        color: color(_disabled) !important

      label
        color: color(_disabled) !important

    i
      border: 0
      font-size: 2em
      padding: .2em .4em

    label
      color: color(_ice)
      font-family: 'Exo 2'
      font-size: 1.1em
      font-weight: 600
      line-height: normal
      min-width: 120px
      text-align: left
      text-transform: capitalize



.closer
  background-color: color(_blue)
  border-radius: 20px
  bottom: -20px
  color: color(_ice)
  font-size: .45em
  height: 6.5em
  left: 0
  position: fixed
  width: 100%
