<button *ngIf="icon" class="btn btn-action" (click)="activateContext()" [disabled]="disabled || !_deckService.deckProcess._deck">
  <i class="{{icon}} action"></i>
</button>

<div [@deck-contextTrigger]="componentState" class="lightbox"
    (click)="closeContext()"
    (swipeleft)="closeContext()"
    (swiperight)="closeContext()"
    (swipedown)="closeContext()"
></div>
<div [@deck-contextTrigger]="componentState" *ngIf="_deckService.deckProcess._deck" class="action-menu">
  <div class="card-data">
    <p class="mox-font">{{_deckService.deckProcess._deck.name}}</p>
    <div>
      <img class="img" *ngIf="_deckService.deckProcess._deck.cover != ''" [ngStyle]="{ 'background-image': 'url(' + _deckService.deckProcess._deck.cover + ')' }" />
    </div>
  </div>
  <section class="content" *ngIf="auth.getUser() | async as user">
      <button type="button" class="btn btn-icon" disabled>
          <i class="fas fa-shopping-bag"></i>
          <label>Shop</label>
          <label>U$ | tix</label>
      </button>
      <button routerLink="/profile/{{_deckService.deckProcess._deck.ownerId}}"
        disabled
        type="button" class="btn btn-icon">
          <i class="fas fa-address-card"></i>
          <label>Deck Creator</label>
      </button>
    <button type="button" class="btn btn-icon" disabled>
        <i class="fas fa-cloud-download-alt"></i>
        <label>Export</label>
    </button>
    <button (click)="processData()" type="button" class="btn btn-icon">
        <i class="fas fa-sync-alt"></i>
        <label>Process Data</label>
    </button>
    <button type="button" class="btn btn-icon" disabled>
        <i class="fas fa-box-open"></i>
        <label>Check in a Collection</label>
    </button>
    <button type="button" class="btn btn-icon" disabled>
        <i class="fas fa-code-branch"></i>
        <label>Fork Deck</label>
    </button>
    <button type="button" class="btn btn-icon" disabled>
        <i class="fas fa-retweet"></i>
        <label>Share</label>
    </button>
    <button (click)="delete()" type="button" class="btn btn-icon" [disabled]="!user.id === _deckService.deckProcess._deck.owner" >
        <i class="fas fa-trash"></i>
        <label>Delete Deck</label>
    </button>
  </section>
  <div class="closer" (click)="closeContext()">
    <i class="fas fa-times"></i>
  </div>
</div>
