<div *ngIf="(deckList) then deckListed else emptyList"></div>

<ng-template #deckListed>
  <app-mox-titlebar>
    <ul class="tabs mox-font">
      <li *ngFor="let f of formats" (click)="setFormat(f)" [ngClass]="{'active': this.formatSelected === f}">{{f}}</li>
    </ul>
    <i class="fas fa-caret-right"></i>
  </app-mox-titlebar>
  <div class="main">
    <span *ngIf="!showLoader && deckList.length == 0" >Empty decklist</span>
    <ol *ngIf="!showLoader" 
    [@listAnimator]="listAnimator"
    (@listAnimator.done)="resetAnimationState()">
      <li *ngFor="let deck of filteredDeckList()" [ngClass]="{'selected-deck': this.internalDeck === deck}" >
        <!-- <div *ngIf="this.internalDeck === deck" class="zoom" (click)="viewDeck()"><i class="fas fa-search-plus"></i></div> -->
        <div class="cover"   (click)="deckSelected(deck)" (press)="deckSelected(deck);_deckService.viewDeck()" [ngStyle]="{ 'background-image': 'url(' + deck.cover + ')' }">
          <p class="color-identity" *ngIf="deck.colorIdentity">
              <i *ngFor="let ico of deck.colorIdentity"
              [className]="'ms ms-' + ico.toLowerCase()"
              [class.ms-cost]=" ico != ''"
              [class.shadow]=" ico != ''"
            ></i>
          </p>
        </div>
        <div class="content" (click)="deckSelected(deck)">
          <div>
            <label>{{deck.name}}</label>
            <span>{{deck.format}}</span>
          </div>
          <div class="second-level">
            <div class="owner" >by {{deck.ownerName}}</div>
            <div class="icons">
              <span>
                <i class="fas fa-lock" *ngIf="!deck.public"></i>
                <i class="fas fa-unlock" *ngIf="deck.public"></i>
              </span>
              <span>
                <i class="far fa-times-circle" *ngIf="!deck.legal"></i>
                <i class="far fa-check-circle" *ngIf="deck.legal"></i>
              </span>
            </div>
          </div>
        </div>
      </li>
    </ol>
  </div>
  <app-mox-action-bar *ngIf="internalDeck">
    <button class="btn btn-action" routerLink="/search">
      <i class="fas fa-plus-square"></i>
    </button>
    <button class="btn btn-action" disabled>
      <i class="far fa-heart"></i>
    </button>
    <div class="fixer"></div>
    <button class="btn btn-action" disabled>
      <i class="fas fa-folder"></i>
    </button>
    <app-mox-deck-context [deck]="internalDeck" [icon]="'fas fa-ellipsis-h'" *ngIf="internalDeck"></app-mox-deck-context>
  </app-mox-action-bar>

  <app-mox-action-bar *ngIf="!internalDeck" (swipeleft)="changeFormat('left')" (swiperight)="changeFormat('right')">
    <button class="btn btn-action" disabled>
      <i class="fas fa-search"></i>
    </button>
    <button class="btn btn-action" disabled>
      <i class="fas fa-filter"></i>
    </button>
    <div class="fixer"></div>
    <button class="btn btn-action" disabled>
      <i class="fas fa-sort"></i>
    </button>
    <button (click)="newDeck()" type="button" class="btn btn-action">
      <i class="fas fa-plus"></i>
    </button>
  </app-mox-action-bar>
</ng-template>

<ng-template #emptyList>
  <div class="container">
    <app-mox-loading-spinner></app-mox-loading-spinner>
  </div>
</ng-template>

