@import '../../styles/theme.colors'

$bg-zoom: rgba(255, 255, 255, .5);
$shad: rgba(0, 0, 0, .5);
$shad-base: rgba(0, 0, 0, .25);
$shad-in: rgba(0, 0, 0, .15);

h4
  font-size: 1.3em

.tab-content
  height: 75vh
  overflow-x: hidden
  overflow-y: scroll
  text-align: center

.folder
  border-right: 3px solid color(_blue)
  display: block
  margin-bottom: 3%

  h4
    border-bottom: solid 2px
    color: color(_darkblue)
    display: inline-flex
    flex-direction: row
    font-size: .92em
    font-weight: 600
    margin: 2% 3%
    text-transform: uppercase
    width: 90%

    i
      padding-right: 2%

  .coll-count
    position: absolute
    right: 0

ol
  display: inline-flex
  flex-direction: column
  list-style: none
  margin: 0
  padding: .5em .5%
  width: 100%
