<ng-container *ngIf="_deckService.deckProcess._deck as deck">
  <div class="deck-data" *ngIf="_deckService.deckProcess._deckStats as stats">
    <div class="cover animated fadeIn" socialshare-media="deck.cover" [ngStyle]="{ 'background-image': 'url(' + deck.cover + ')' }"></div>
    <div class="header animated fadeIn">
      <h2>{{deck.name}}</h2>
      <p>
        <label>{{deck.format}}</label>
        <label>by {{deck.ownerName}}</label>
      </p>
    </div>
    <div class="main-data animated slideInUp">
      <div *ngIf="!deckStats" class="chart">
        <p>No Stats yet!</p>
      </div>
      <div *ngIf="deckStats" class="chart">
        <form class="example-container" [formGroup]="formOptions">
          <mat-form-field [color]="formOptions.colors" class="chart-title">
              <mat-select formControlName="chartSelection">
                <mat-option [value]="_ChartSelection">
                  Card Types
                </mat-option>
              </mat-select>
            </mat-form-field>      
        </form>
        <google-chart [data]="pieChartData"></google-chart>
      </div>
      <div class="other-data">
        <app-mox-stats-holder [ico]="'fas fa-dollar-sign'" [title]="'Total Price'" (actionButton)="alert('oi')" >
          <p *ngIf="deckStats.totalPrice">U$ {{deckStats.totalPrice}}</p>
          <p *ngIf="deckStats.totalTix">Tik {{deckStats.totalTix}}</p>
        </app-mox-stats-holder>
        <app-mox-stats-holder [ico]="'fas fa-tasks'" [title]="'Format Legal'" (actionButton)="alert('oi')" >
          <div class="legal-container">
            <i *ngIf="deck.legal" class="fas fa-check"></i>
            <i *ngIf="!deck.legal" class="fas fa-times"></i>
            <label *ngIf="deck.legal">Deck List Legal</label>
            <div class="not-legal" *ngIf="!deck.legal">
              <label *ngIf="!_deckService.deckProcess.errorList || _deckService.deckProcess.errorList.length == 0">Process to get error list</label>
              <label *ngIf="_deckService.deckProcess.errorList && _deckService.deckProcess.errorList.length > 0" style="width: 1.4%;margin-right: 2px">Error List:</label>
              <ul *ngIf="_deckService.deckProcess.errorList && _deckService.deckProcess.errorList.length > 0">
                <li *ngFor="let err of _deckService.deckProcess.errorList">{{err}}</li>
              </ul>
            </div>
          </div>
        </app-mox-stats-holder>
        <app-mox-stats-holder [ico]="'fas fa-address-card'" *ngIf="deck.creatorId" [title]="'Original Creator'" (actionButton)="alert('oi')" >
          <p>{{deck.creatorId}}</p>
        </app-mox-stats-holder>
      </div>
    </div>
  </div>
</ng-container>

