<ng-container *ngIf="_deckService.deckProcess._deck as deck">
  <div class="deck-data" *ngIf="_deckService.deckProcess._deckStats as stats">
    <div class="cover animated fadeIn" socialshare-media="deck.cover" [ngStyle]="{ 'background-image': 'url(' + deck.cover + ')' }"></div>
    <div class="header animated fadeIn">
      <h2>{{deck.name}}</h2>
      <p>
        <label>{{deck.format}}</label>
        <label>by {{deck.ownerName}}</label>
      </p>
    </div>
    <div class="main-data animated slideInUp">
      <div *ngIf="stats.typeLineData" class="chart" style="display: block">
        <canvas baseChart
          [data]="stats.typeLineData"
          [labels]="typeLineTitles"
          [options]="options"
          [chartType]="'pie'"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
    <!-- <div class="summary">
      <div class="decksize mox-font">Deck Data</div>
      <div class="decktype">Last Processed: {{ _deckService.deckProcess._deckStats.processDate ? (_deckService.deckProcess._deckStats.processDate.toDate() | date:'medium') : '' }}</div>
    </div>
    <fieldset>
      <p>
        <label class="mox-font">Name: </label>{{_deckService.deckProcess._deck.name}}
      </p>
      <p>
        <label class="mox-font">Owner: </label>{{_deckService.deckProcess._deck.ownerName}}
      </p>
      <p>
        <label class="mox-font">Public: </label>{{_deckService.deckProcess._deck.public ? 'Yes' : 'No'}}
      </p>
      <p>
        <label class="mox-font">Format: </label>{{_deckService.deckProcess._deck.format}}
      </p>
      <p>
        <label class="mox-font">Legal: </label>{{_deckService.deckProcess._deck.legal ? 'Legal' : 'Ilegal'}}
      </p>
      <p>
        <label class="mox-font">Total Price: </label>US$ {{_deckService.deckProcess._deckStats.totalPrice}}
      </p>
      <hr *ngIf="_deckService.deckProcess._deckStats.typeLineCounter" />
      <div *ngIf="_deckService.deckProcess._deckStats.typeLineCounter as ttl">
        <h3>Card Types Variety</h3>
          <p><label class="mox-font">Lands: </label>{{ttl.d_totalLands}}</p>
          <p><label class="mox-font">Creatures: </label>{{ttl.d_totalCreatures}}</p>
          <p><label class="mox-font">Instants: </label>{{ttl.d_totalInstants}}</p>
          <p><label class="mox-font">Sorcery: </label>{{ttl.d_totalSorcery}}</p>
          <p><label class="mox-font">Artifacts: </label>{{ttl.d_totalArtifacts}}</p>
          <p><label class="mox-font">Enchantments: </label>{{ttl.d_totalEnchantments}}</p>
          <p><label class="mox-font">Planeswalkers: </label>{{ttl.d_totalPlaneswalkers}}</p>
      </div>
    </fieldset> -->
  </div>
</ng-container>

