<div *ngIf="infinite | async as deckList">
  <!-- <app-mox-titlebar>
    <div class="deck-format mox-font animate fadeInDown">
      <label>Listing {{(formatSelected)? formatSelected : 'All'}} decks</label>
    </div>
  </app-mox-titlebar> -->

  <span *ngIf="deckList.length == 0" >Empty decklist</span>
  <ol>
    <cdk-virtual-scroll-viewport itemSize="77" (scrolledIndexChange)="nextBatch($event, (deckList[deckList.length - 1].name))">
      <ng-container *cdkVirtualFor="let deck of deckList; let i = index; trackBy: trackByIdx">
        <li class="animated fadeInDown">
          <app-mox-deck-item [deck]="deck" [selected]="this.internalDeck === deck" (deckSelected)="deckSelected($event)"></app-mox-deck-item>
        </li>
      </ng-container>
      <div *ngIf="theEnd" matRipple (click)="viewport.scrollToIndex(0)" class="list-end animate fadeInDown">
        <i class="fas fa-angle-double-up"></i>
      </div>
    </cdk-virtual-scroll-viewport>
  </ol>

  <!-- <app-mox-action-bar *ngIf="internalDeck">
    <button class="btn btn-action" matRipple routerLink="/search" [disabled]="internalDeck.ownerId !== _user.uid">  
      <i class="fas fa-plus-square"></i>
    </button>
    <button class="btn btn-action" matRipple disabled>
      <i class="far fa-heart"></i>
    </button>
    <div class="fixer"></div>
    <button class="btn btn-action" matRipple disabled>
      <i class="fas fa-folder"></i>
    </button>
    <app-mox-picker *ngIf="internalDeck" [pickerType]="'deck-action'" [currentState]="internalDeck"></app-mox-picker>
  </app-mox-action-bar>

  <app-mox-action-bar *ngIf="!internalDeck" (swipeleft)="changeFormat('left')" (swiperight)="changeFormat('right')">
    <button class="btn btn-action" matRipple [disabled]="!_user" (click)="navigateToDeckHub()">
      <i class="fas fa-list "></i>
    </button>    
    <button class="btn btn-action" matRipple disabled>
      <i class="fas fa-filter" style="font-size: .9em"></i>
    </button>
    <div class="fixer"></div>
    <button class="btn btn-action" matRipple disabled>
      <i class="fas fa-sort" style="font-size: 1.3em"></i>
    </button>
    <button (click)="newDeck()" matRipple [disabled]="!_user" type="button" class="btn btn-action">
      <i class="fas fa-plus"></i>
    </button>
  </app-mox-action-bar>
</div> -->

<div class="container" *ngIf="!infinite">
  <app-mox-loading-spinner></app-mox-loading-spinner>
</div>