<div class="action-button" *ngIf="!isState('hidden')">
  <svg version="1.1" matRipple class="animated rotateIn" xmlns="http://www.w3.org/2000/svg" width="58" height="66" viewbox="0 0 57.157676649772945 66" 
      style="position: absolute;z-index: 10; filter: drop-shadow(rgba(0, 0, 0, 0.15) 0px 0px 20px);">
    <path fill="#fff" d="M25.11473670974872 1.9999999999999998Q28.578838324886473 0 32.042939940024226 2L53.69357503463519 14.5Q57.157676649772945 16.5 57.157676649772945 20.5L57.157676649772945 45.5Q57.157676649772945 49.5 53.69357503463519 51.5L32.042939940024226 64Q28.578838324886473 66 25.11473670974872 64L3.4641016151377544 51.5Q0 49.5 0 45.5L0 20.5Q0 16.5 3.464101615137755 14.5Z"></path>
  </svg>
  <div *ngIf="isState('loading') || isState('cloud')" class="bounce animated infinite pulse"></div>
  <svg version="1.1" matRipple class="animated rotateIn delay-.5s" xmlns="http://www.w3.org/2000/svg" width="49" height="56" viewbox="0 0 48.49742261192856 56" 
      style="position: absolute;z-index: 12; filter: drop-shadow(rgba(0, 0, 0, 0.15) 0px 0px 5px);">
    <path fill="#fff" d="M20.784609690826528 1.9999999999999998Q24.24871130596428 0 27.712812921102035 1.9999999999999998L45.033320996790806 12Q48.49742261192856 14 48.49742261192856 18L48.49742261192856 38Q48.49742261192856 42 45.033320996790806 44L27.712812921102035 54Q24.24871130596428 56 20.784609690826528 54L3.464101615137755 44Q0 42 0 38L0 18Q0 14 3.464101615137755 12Z"></path>
  </svg>
  <div *ngIf="_auth.getUser() | async as user">
    <i *ngIf="isState('nav') && user.actionIco" [className]="'animated pulse ss ss-' + user.actionIco" [@actionIcoAnimator]="animationState2"
      (@actionIcoAnimator.done)="resetAnimationState()"
      (tap)="activateMenuOpen.emit('opened');navigator.vibrate([50]);"></i>

    <i *ngIf="!user || (isState('nav') && !user.actionIco)" [className]="'animated pulse ss ss-pmtg1'" [@actionIcoAnimator]="animationState2"
      (@actionIcoAnimator.done)="resetAnimationState()" (tap)="menuOpen('opened');setState('closed')"></i>

    <i *ngIf="isState('closed')"  (tap)="setState('nav')" class="animated pulse fas fa-bars"></i>
    <i *ngIf="isState('loading')" (tap)="abortState()"    class="fas fa-sync-alt fa-spin"></i>
    <i *ngIf="isState('sort')"    (tap)="abortState()"    class="fas fa-sort"></i>
    <i *ngIf="isState('config')"  (tap)="abortState()"    class="animated pulse fas fa-cog fa-spin"></i>
    <i *ngIf="isState('view')"    (tap)="view();navigator.vibrate([50]);"    class="animated pulse fas fa-book-open"></i>
    <i *ngIf="isState('error')"   (tap)="setState('nav')" class="animated pulse fas fa-not-equal"></i>
    <span *ngIf="isState('cloud')" style="display: contents" (tap)="abortState()">
      <i class="fas fa-cloud fa-stack-1x"></i>
      <i class="fas fa-sync-alt fa-spin fa-stack-2x" style="color:white"></i>
    </span>
  </div>
</div>