<mat-tab-group mat-stretch-tabs dynamicHeight class="example-stretched-tabs mat-elevation-z4 animated fadeIn"
  [(selectedIndex)]="tab" [color]="'primary'" [backgroundColor]="'primary'">
  <mat-tab label="Your Collections">
    <div class="tab-content">
      <app-mox-loading-spinner *ngIf="showLoader"></app-mox-loading-spinner>
      <span *ngIf="!showLoader && _userColls.cards && _userColls.cards.length == 0">Empty Collections</span>
      <ul *ngIf="!showLoader && _folders.length > 0">
        <li *ngFor="let folder of _folders; let i=index">
          <div class="folder">
            <h4 class="folder-name" matRipple (click)="_folderVis[i] = !_folderVis[i]">
              <i *ngIf="_folderVis[i]" class="fas fa-folder-open"></i>
              <i *ngIf="!_folderVis[i]" class="fas fa-folder"></i>
              {{folder}}
              <span class="coll-count">{{filteredCollList().length | number:'2.0'}}</span>
            </h4>
            <ol *ngIf="!showLoader && _folderVis[i]" class="animated fadeIn">
              <ng-container *ngFor="let coll of filteredCollList()">
                <li *ngIf="coll.folder === folder" [ngClass]="{'selected-coll': this.internalcoll === coll}">
                  <app-mox-collection-item [collection]="coll" [selected]="_selectedColl === coll" (collSelected)="collSelected($event)" ></app-mox-collection-item>
                </li>
              </ng-container>
            </ol>
          </div>
        </li>
      </ul>
      <hr />
      <ol *ngIf="!showLoader">
        <ng-container *ngFor="let coll of filteredCollList()">
          <li *ngIf="!coll.folder || (coll.folder && !_folders.includes(coll.folder))" [ngClass]="{'selected-coll': this.internalcoll === coll}">
            <app-mox-collection-item [collection]="coll" [selected]="_selectedColl === coll" (collSelected)="collSelected($event)" ></app-mox-collection-item>
          </li>
        </ng-container>
      </ol>
    </div>
  </mat-tab>
  <mat-tab label="MTG Collections">
    <div class="tab-content">

    </div>
  </mat-tab>
</mat-tab-group>

<app-mox-action-bar *ngIf="!_selectedColl">
  <app-mox-picker [pickerType]="'new-coll'" (collectionSelection)="newColl($event)"></app-mox-picker>
  <button matRipple disabled class="btn btn-action">
    <i class="fas fa-filter" style="font-size: .9em"></i>
  </button>
  <div class="fixer"></div>
  <button matRipple disabled class="btn btn-action">
    <i class="fas fa-sort" style="font-size: 1.3em"></i>
  </button>
  <button matRipple disabled class="btn btn-action">
    <i class="fas fa-search"></i>
  </button>
</app-mox-action-bar>

<app-mox-action-bar *ngIf="_selectedColl">
  <button class="btn btn-action" matRipple (click)="viewColl()">
    <i class="fas fa-box-open"></i>
  </button>
  <button class="btn btn-action" matRipple disabled>
    <i class="far fa-heart"></i>
  </button>
  <div class="fixer"></div>
  <app-mox-picker [pickerType]="'folder'" (folderRemove)="collFolderRemove()" (folderInclude)="collFolderInclude($event)"  [userFolders]="_folders" ></app-mox-picker>
  <app-mox-picker [pickerType]="'coll-action'" *ngIf="_selectedColl" [currentState]="_selectedColl"></app-mox-picker>
</app-mox-action-bar>