@import './../../styles/theme.colors'

.tab-content
  height: 75vh
  overflow-x: hidden
  overflow-y: scroll
  text-align: center

  h4
    border-bottom: solid 2px
    color: color(_darkblue)
    display: inline-flex
    flex-direction: row
    font-size: .92em
    font-weight: 600
    margin: 2% 3%
    text-transform: uppercase
    width: 90%

    i
      padding-right: 2%

  .coll-count
    position: absolute
    right: 0

.folder
  border-right: 3px solid color(_blue)
  display: block
  margin-bottom: 3%
