<app-mox-titlebar>
  <label>Wellcome</label>
</app-mox-titlebar>
<div class="main">
  <!-- <form class="new-deck-form">
    <section class="form-block">
      <label>Deck Name</label>
      <div class="form-group">
        <input type="text" [(ngModel)]="newDeck.name" value="{{newDeck.name}}" name="iname" required>
      </div>
      <label>Deck Creator</label>
      <div class="form-group">
        <input type="text" readonly value="{{newDeck.ownerName}}">
      </div>
      <div class="form-group">
        <div class="toggle-switch">
          <button class="btn btn-action" (click)="newDeck.froze = !newDeck.froze">
            <i class="fas fa-check-square"  *ngIf="!newDeck.froze"></i>
            <i class="far fa-square" *ngIf="newDeck.froze"></i>
          </button>
          <label for="ifroze" (click)="newDeck.froze = !newDeck.froze">Froze</label>
        </div>
      </div>
      <div class="form-group">
        <div class="toggle-switch">
          <button class="btn btn-action" (click)="newDeck.legal = !newDeck.legal">
              <i class="fas fa-check-square"  *ngIf="!newDeck.legal"></i>
              <i class="far fa-square" *ngIf="newDeck.legal"></i>
          </button>
          <label for="ilegal" (click)="newDeck.legal = !newDeck.legal">Legal</label>
        </div>
      </div>
      <div class="form-group">
        <label for="iformat">Format</label>
        <div class="select">
          <select id="iformat" [(ngModel)]="newDeck.format" [ngModelOptions]="{standalone: true}" required>
            <option *ngFor="let f of formats" [value]="f">{{f}}</option>
          </select>
        </div>
      </div>
    </section>
  </form> -->
</div>
<app-mox-action-bar>
  <app-mox-import-deck-context></app-mox-import-deck-context>
  <button type="button" class="btn btn-action" disabled>
    <i class="fas fa-code-branch"></i>
  </button>
  <div class="fixer"></div>
  <button (click)="cloneDeck()" type="button" class="btn btn-action" disabled>
    <i class="fas fa-qrcode"></i>
  </button>
  <button type="button" (click)="quickDeck()"  class="btn btn-action">
    <i class="fas fa-book"></i>
  </button>
</app-mox-action-bar>
