<app-mox-titlebar>
  <label>Wellcome</label>
</app-mox-titlebar>
<div class="main">
  <fieldset>
    <h2 class="mox-font">Hi there!</h2>
    <p>This is the beta version of the Mox deck creating interface.</p>
    <p>For that reason somethings are temporary, like this message.</p>
    <p>To help you don't get lost here some tips: </p>
    <blockquote class="mox-font">
      <ul>
        <li>You can create a quick deck (no name, no format, no cards) from this button: <i class="fas fa-bolt"></i></li>
        <li>You can import a deck from this formats: <br /> -Txt [2 Botanical Sanctum] <br /> -MtgArena [2 Botanical Sanctum (KLD) 244] <br /> Use this button: <i class="fas fa-cloud-upload-alt"></i></li>
      </ul>
    </blockquote>
    <p>Later on you will be able to search for decks, clone and discuss them!</p>
    <p>Thanks for the comprehension, have a great future.</p>
    <p><i>Karn</i></p>
  </fieldset>
</div>
<app-mox-action-bar>
  <app-mox-picker [pickerType]="'deck-import'"></app-mox-picker>
  <!-- <app-mox-import-deck-context></app-mox-import-deck-context> -->
  <button type="button" class="btn btn-action" disabled>
    <i class="fas fa-code-branch"></i>
  </button>
  <div class="fixer"></div>
  <button (click)="cloneDeck()" type="button" class="btn btn-action" disabled>
    <i class="fas fa-qrcode"></i>
  </button>
  <button type="button" (click)="quickDeck()"  class="btn btn-action">
    <i class="fas fa-bolt"></i>
  </button>
</app-mox-action-bar>
