<app-mox-titlebar>
  <p class="mox-font version">
    <i class="fab fa-angular"></i> {{angularVersion}} / 
    <img class="animated fadeIn" style="width: 1em;margin-bottom: -2px;height: 100%;"  src="./../../assets/icons/icon-72x72.png" /> {{v}}
  </p>
</app-mox-titlebar>
<div class="main animate fadeIn">
  <div class="wellcome">
    <!-- <h1 class="mox-font">0</h1> -->
    <img class="animated fadeIn" alt="Mox Logo" matRipple src="./../../assets/mox-logo.webp" />
    <p>Wellcome to beta version of Mox</p>
    <p>You can join your Slack (<a href="https://mtgmox.slack.com">@mtgmox.slack.com</a>) to report any bug or participate in any pool.</p>
  </div>
</div>
