<app-mox-titlebar>
  <h4>Wellcome!</h4>
</app-mox-titlebar>

<div class="main">
  <div class="home-buttons">
    <button (click)="goToUser()" type="button" class="btn btn-icon">
        <i class="fas fa-user"></i>
        <label>User</label>
    </button>
    <button type="button" class="btn btn-icon" disabled>
        <i class="fas fa-address-book"></i>
        <label>Friend List</label>
    </button>
    <button type="button" class="btn btn-icon" disabled>
        <i class="fas fa-archive"></i>
        <label>Collection</label>
    </button>
    <button (click)="goToDeckHub()" type="button" class="btn btn-icon">
        <i class="fas fa-book"></i>
        <label>Deck List</label>
    </button>
    <button type="button" class="btn btn-icon" disabled>
        <i class="fas fa-dice"></i>
        <label>Utils</label>
    </button>
    <button type="button" class="btn btn-icon" disabled>
        <i class="fas fa-comments"></i>
        <label>Messages</label>
    </button>
  </div>
  <section class="form-block">
    <button (click)="newDeck()" type="button" class="btn btn-primary">New Deck</button>
  </section>
  <!-- <a routerLink="/card/2ea8d5cb-cf7e-4194-8019-812b3f56cf20firebase-admin@~5.4.0">Brainstorm</a> -->
</div>
<app-mox-action-bar>
  <app-mox-search></app-mox-search>
</app-mox-action-bar>
