@import './../../styles/theme.colors'

h4
  color: color(_white)
  font-weight: 600

.home-buttons
  display: inline-block
  margin: 0
  padding: 0

  .btn
    background-color: color(_white)
    border-color: color(_ice)
    border-radius: 0
    font-size: 2em
    height: 5em
    margin: 0
    padding: .4em
    width: 50%

    label
      display: block
      font-size: 12px
      margin-top: .2em
      padding: 0 .3em
      width: 100%

