@import './../../styles/theme.colors.scss'

h4
  color: color(white)
  font-weight: 600

.home-buttons
  display: inline-block
  margin: 0
  padding: 0
  .btn
    width: 50%
    font-size: 2em
    height: 5em
    margin: 0
    padding: 0.4em
    border-radius: 0
    border-color: aliceblue
    background-color: color(white)
    label
      font-size: 12px
      width: 100%
      padding: 0 0.3em
      display: block
      margin-top: 0.2em

