<app-mox-titlebar>
  <p class="mox-font"  style="right: 2%;position: absolute;">v {{v}}</p>
</app-mox-titlebar>
<div class="main animate fadeIn">
  <div class="wellcome">
    <!-- <h1 class="mox-font">0</h1> -->
    <img class="animated fadeIn" matRipple src="./../../assets/icons/icon-512x512.png" />
    <p>Wellcome to beta version of Mox</p>
    <p>You can join your Slack (<a href="https://mtgmox.slack.com">@mtgmox.slack.com</a>) to report any bug or participate in any pool.</p>
  </div>
</div>
